<a href="https://colab.research.google.com/github/thisissophiawang/thisissophiawang/blob/main/python_for_everyone.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python for Everyone - University of Michigan
# **Session 1 : Getting Started with Python**

In [ ]:
print('Hello,World')

Hello,World

In [ ]:
print("123" + "abc")

123abc

In [ ]:
#assignment 2.2
# The code below almost works

name = input("Enter your name")
print("Hello"+' '+name)

#ans:
name = raw_input("Enter your name")
print ("Hello" + ' ' + name) # 'space' to add space between words, and () to make python 3 print statement

2.3 Write a program to prompt the user for hours and rate per hour using input to compute gross pay. Use 35 hours and a rate of 2.75 per hour to test the program (the pay should be 96.25). You should use input to read a string and float() to convert the string to a number. Do not worry about error checking or bad user data.

In [ ]:
#assignment 2.3

# This first line is provided for you
hrs = input("Enter Hours:")

rate=input ("Enter Rate:")

hrs=float(hrs)
rate=float(rate)

pay=hrs*rate

print ("Pay:",pay)

In [ ]:
#quiz 3.1
x = 0
if x < 2 :
    print('Small')
elif x < 10 :
    print('Medium')
else :
    print('LARGE')
print('All done')

Small
All done

3.1 Write a program to prompt the user for hours and rate per hour using input to compute gross pay. Pay the hourly rate for the hours up to 40 and 1.5 times the hourly rate for all hours worked above 40 hours. Use 45 hours and a rate of 10.50 per hour to test the program (the pay should be 498.75). You should use input to read a string and float() to convert the string to a number. Do not worry about error checking the user input - assume the user types numbers properly.

In [ ]:
hrs = input("Enter Hours:")
h = float(hrs)

rate=input("Enter Rate:")
rate=float(rate)

if h<= 40:
  pay=h*rate
elif h> 40:
  pay=1.5*(h-40)*rate+40*rate

print (pay)

In [ ]:
#professor answer:
sh=input("Enter Hours:")
sr=input("Enter Rate")
try:
  fh=float(sh)
  fr=float(sr)
except:
  print("Error,please enter numeric input")

print (fh,fr)
if fh>40:
   reg=fr*fh
   otp=(fh-40)*(fr*0.5)
   xp=reg+otp
else:
  xp=fh*fr
print("Pay:",xp)

3.3 Write a program to prompt for a score between 0.0 and 1.0. If the score is out of range, print an error. If the score is between 0.0 and 1.0, print a grade using the following table:
Score Grade
>= 0.9 A

>= 0.8 B

>= 0.7 C

>= 0.6 D

< 0.6 F

If the user enters a value out of range, print a suitable error message and exit. For the test, enter a score of 0.85.

In [ ]:
#example : score = input("Enter Score: ")
number = raw_input("Enter number:")

try:
    number = float(number)
except:
    number = -1

if number >= 0.9:
    print("A")
elif number >= 0.8:
    print ("B")
elif number >= 0.7:
    print ("C")
elif number >= 0.6:
    print ("D")
elif number < 0.6:
    print ("F")
else:
    print ("Error!")
    quit()

4.6 Write a program to prompt the user for hours and rate per hour using input to compute gross pay. Pay should be the normal rate for hours up to 40 and time-and-a-half for the hourly rate for all hours worked above 40 hours. Put the logic to do the computation of pay in a function called computepay() and use the function to do the computation. The function should return a value. Use 45 hours and a rate of 10.50 per hour to test the program (the pay should be 498.75). You should use input to read a string and float() to convert the string to a number. Do not worry about error checking the user input unless you want to - you can assume the user types numbers properly. Do not name your variable sum or use the sum() function.

In [ ]:
#example:
def computepay(h, r):
    return 42.37

hrs = input("Enter Hours:")
p = computepay(10, 20)
print("Pay", p)

In [ ]:
def computepay(h,r):
    if h > 40:
        return (40*r)+(h-40)*(r*1.5)
    else:
        return h*r

hrs = raw_input("Enter Hours:")
rate = raw_input("Enter Rate:")

hrs = float(hrs)
rate = float(rate)

P = computepay(hrs, rate)

print ("Pay",P)

In [ ]:
#quiz 5
tot = 0 
for i in [5, 4, 3, 2, 1] :
    tot = tot + 1
print(tot)

5

Chapter 5 assignment    
5.1 write a program using **try** and **except**

*   enter a number:4
*   enter a number:5
*   Enter a number: bad data
*   Invaild input
*   enter a number:7
*   enter a number:done
*   16 3 5.3333333333333

In [ ]:
print('Five')

num=0
tot=0.0
while True: 
    sval=input('Enter a number:')
    if sval=="done":
       break
    try:
      fval=float(sval)
    except:
      print("Invaild input")
      continue
    #print(fval)
    num=num+1
    tot=tot+fval

#print("ALL DONE")
print(tot,num,tot/num)

5.2 Write a program that repeatedly prompts a user for integer numbers until the user enters 'done'. Once 'done' is entered, print out the largest and smallest of the numbers. If the user enters anything other than a valid number catch it with a try/except and put out an appropriate message and ignore the number. Enter 7, 2, bob, 10, and 4 and match the output below.

In [ ]:
#example:
largest = None
smallest = None
while True:
    num = input("Enter a number: ")
    if num == "done":
        break
    print(num)

print("Maximum", largest)

In [ ]:
largest = None
smallest = None

while True:
    try:
        num = input("Enter a number: ")
        if num == 'done':
            break
        num = int(num)
        if largest is None or num > largest:
            largest = num
        elif smallest is None or num < smallest:
            smallest = num

    except:
        print("Invalid input")
        continue

print("Maximum is", largest)
print("Minimum is", smallest)

#enter 7,2,bob,10,4

# **Session 2 : Data Structure**

chapter 6 quiz

In [ ]:
for letter in 'banana' :
    print(letter)

b
a
n
a
n
a

In [ ]:
print(len('banana')*7)

42

6.5 Write code using find() and string slicing (see section 6.10) to extract the number at the end of the line below. Convert the extracted value to a floating point number and print it out.

In [ ]:
#example: text = "X-DSPAM-Confidence:    0.8475"
#descired output: 0.8475

text = "X-DSPAM-Confidence:    0.8475";
str='X-DSPAM-Confidence:0.8475'
ipos=str.find(':')
#print(ipos)
piece=str[ipos+2:]
#print(piece)
value=float(piece)
print(value)

0.8475

In [ ]:
#professor example
text = "X-DSPAM-Confidence:    0.8475";

ipos=str.find(':')
print(ipos)
piece=str[ipos+1:]
print(piece)
value=float(piece)
print(value)

18
0.8475
0.8475

7.1 Write a program that prompts for a file name, then opens that file and reads through the file, and print the contents of the file in upper case. Use the file words.txt to produce the output below.
You can download the sample data at http://www.py4e.com/code3/words.txt

In [ ]:
#example:# Use words.txt as the file name
fname = input("Enter file name: ")
fh = open(fname)

Desired code:WRITING PROGRAMS OR PROGRAMMING IS A VERY CREATIVE
AND REWARDING ACTIVITY  YOU CAN WRITE PROGRAMS FOR
MANY REASONS RANGING FROM MAKING YOUR LIVING TO SOLVING
A DIFFICULT DATA ANALYSIS PROBLEM TO HAVING FUN TO HELPING
SOMEONE ELSE SOLVE A PROBLEM  THIS BOOK ASSUMES THAT
{\EM EVERYONE} NEEDS TO KNOW HOW TO PROGRAM AND THAT ONCE
YOU KNOW HOW TO PROGRAM, YOU WILL FIGURE OUT WHAT YOU WANT
TO DO WITH YOUR NEWFOUND SKILLS

WE ARE SURROUNDED IN OUR DAILY LIVES WITH COMPUTERS RANGING
FROM LAPTOPS TO CELL PHONES  WE CAN THINK OF THESE COMPUTERS
AS OUR PERSONAL ASSISTANTS WHO CAN TAKE CARE OF MANY THINGS
ON OUR BEHALF  THE HARDWARE IN OUR CURRENT-DAY COMPUTERS
IS ESSENTIALLY BUILT TO CONTINUOUSLY AS US THE QUESTION
WHAT WOULD YOU LIKE ME TO DO NEXT

OUR COMPUTERS ARE FAST AND HAVE VASTS AMOUNTS OF MEMORY AND
COULD BE VERY HELPFUL TO US IF WE ONLY KNEW THE LANGUAGE TO
SPEAK TO EXPLAIN TO THE COMPUTER WHAT WE WOULD LIKE IT TO
DO NEXT IF WE KNEW THIS LANGUAGE WE COULD TELL THE
COMPUTER TO DO TASKS ON OUR BEHALF THAT WERE REPTITIVE
INTERESTINGLY, THE KINDS OF THINGS COMPUTERS CAN DO BEST
ARE OFTEN THE KINDS OF THINGS THAT WE HUMANS FIND BORING
AND MIND-NUMBING

In [ ]:
# Use words.txt as the file name
fname = input("Enter file name: ")
fh = open(fname,'r')
for i in fh.readlines():
 print(i.upper().rstrip())

In [ ]:
#professor
fh=open('mbox-short.txt')

for lx in fh:
  ly=lx.rstrip()
  print(ly,upper())

7.2 Write a program that prompts for a file name, then opens that file and reads through the file, looking for lines of the form:

**X-DSPAM-Confidence:    0.8475**

Count these lines and extract the floating point values from each of the lines and compute the average of those values and produce an output as shown below. Do not use the sum() function or a variable named sum in your solution.
You can download the sample data at http://www.py4e.com/code3/mbox-short.txt when you are testing below enter mbox-short.txt as the file name.

In [ ]:
#example:
# Use the file name mbox-short.txt as the file name
fname = input("Enter file name: ")
fh = open(fname)
for line in fh:
    if not line.startswith("X-DSPAM-Confidence:"):
        continue
    print(line)
print("Done")

In [ ]:
fname = input("Enter file name: ")
fh = open(fname)
count = 0
average = 0
for line in fh:
    if not line.startswith("X-DSPAM-Confidence:") : continue
    average += float(line[20:-1].strip())
    count = count + 1
    #print(line)
    
print("Average spam confidence:", (average/count))

8.4 Open the file romeo.txt and read it line by line. For each line, split the line into a list of words using the split() method. The program should build a list of words. For each word on each line check to see if the word is already in the list and if not append it to the list. When the program completes, sort and print the resulting words in alphabetical order.
You can download the sample data at http://www.py4e.com/code3/romeo.txt

In [ ]:
#example:
fname = input("Enter file name: ")
fh = open(fname)
lst = list()
for line in fh:
print(line.rstrip())

In [ ]:
fname = input("Enter file name: ")
fh = open(fname)
data=[]
for each in fh:
    words=each.split()
    for word in words:
        if word not in data:
            data.append(word)
print(sorted(data))

8.5 Open the file mbox-short.txt and read it line by line. When you find a line that starts with 'From ' like the following line:

**From stephen.marquard@uct.ac.za Sat Jan  5 09:14:16 2008**

You will parse the From line using split() and print out the second word in the line (i.e. the entire address of the person who sent the message). Then print out a count at the end.
Hint: make sure not to include the lines that start with 'From:'. Also look at the last line of the sample output to see how to print the count.

You can download the sample data at http://www.py4e.com/code3/mbox-short.txt

In [ ]:
#example:
fname = input("Enter file name: ")
if len(fname) < 1:
    fname = "mbox-short.txt"

fh = open(fname)
count = 0

print("There were", count, "lines in the file with From as the first word")

In [ ]:

fname = input("Enter file name: ")
if len(fname) < 1 : fname = "mbox-short.txt"
#opening the file
fh = open(fname)
count = 0
#to store the lines
data=[]
for each in fh:
    # To check whether the line have more than two elements space seperated, 
    if each.startswith("From") and len(each.split())>2:  #startwith function: returns True if the string starts with the specified value, otherwise False.
        temp=each.split()
        data.append(temp[1])
for each in data:
    print(each)
print("There were", len(data), "lines in the file with From as the first word")

9.4 Write a program to read through the mbox-short.txt and figure out who has sent the greatest number of mail messages. The program looks for 'From ' lines and takes the second word of those lines as the person who sent the mail. The program creates a Python dictionary that maps the sender's mail address to a count of the number of times they appear in the file. After the dictionary is produced, the program reads through the dictionary using a maximum loop to find the most prolific committer.

In [ ]:
#example:
name = input("Enter file:")
if len(name) < 1:
    name = "mbox-short.txt"
handle = open(name)

#desired output:
cwen@iupui.edu 5

In [ ]:
name = input("Enter file:")
if len(name) < 1 : 
  name = "mbox-short.txt"
text = open(name)

maxauthor = dict()

for line in text:
    line.rstrip()
    if not line.startswith("From "): continue
    words = line.split()
    maxauthor[words[1]] = maxauthor.get(words[1],0)+1

largest = None
largest_author = None

for key in maxauthor:
    if largest is None: largest = maxauthor[key]

    if largest < maxauthor[key]:
        largest = maxauthor[key]
        largest_author = key

print(largest_author, largest)

In [ ]:
#chapter 9 example:
fname=input('Enter File:')
if len(fname)＜1： fname='clown.txt'
hand=open(fname)

di=dict()
for lin in hand:
    lin=lin.rstrip()
    #print(lin)
    wds=lin.split()
    #print(wds)
    for w in wds:
      print(w)
      if w in di:
          di[w]=di[w]+1
          print('**Existing**')
      else:
          di[w]=1
          print('**NEW**')
      print(w,di[w])

10.2 Write a program to read through the mbox-short.txt and figure out the distribution by hour of the day for each of the messages. You can pull the hour out from the 'From ' line by finding the time and then splitting the string a second time using a colon.

**From stephen.marquard@uct.ac.za Sat Jan  5 09:14:16 2008**

Once you have accumulated the counts for each hour, print out the counts, sorted by hour as shown below.

In [ ]:
name = input("Enter file:")
if len(name) < 1:
    name = "mbox-short.txt"
handle = open(name)

In [ ]:
name = raw_input("Enter file:")
if len(name) < 1 : name = "mbox-short.txt"
handle = open(name)

hcount = dict()                                     #create empty dictionary
hlst = []                                           #create empty list

for line in handle: 
    words = line.split()
    if len(words) > 2 and words[0] == 'From':       #Select lines with 'From'
        hr = words[5].split(':')                    #Select hour (5th index) and split string with colon
        hcount[hr[0]] = hcount.get(hr[0], 0) + 1    #increase count for each hour
    else:
        continue

for k,v in hcount.items():                           #k = hour, v = count
    hlst.append((k,v))                               #append tuples to list

hlst.sort()                                         #sort list by hour
for k,v in hlst:                                    #loop through list of tuples
    print(k,v)                                      #print counts sorted by hour

 
# **Session 3 : Using Python to access Web**



*   Matches the beginning of a line

**^**
*   Matches the end of the line

**$**
*   Matches any character

**.**
*   Matches whitespace

**\s**
*   Matches any non-whitespace character

**\S**

*   Repeats a character zero or more times

*
*  Repeats a character zero or more times (non-greedy)

*?

Assignment 11

Finding Numbers in a Haystack

In this assignment you will read through and parse a file with text and numbers. You will extract all the numbers in the file and compute the sum of the numbers.

Data Files
We provide two files for this assignment. One is a sample file where we give you the sum for your testing and the other is the actual data you need to process for the assignment.

Sample data: http://py4e-data.dr-chuck.net/regex_sum_42.txt (There are 90 values with a sum=445833)

Actual data: http://py4e-data.dr-chuck.net/regex_sum_1568464.txt (There are 69 values and the sum ends with 361)

These links open in a new window. Make sure to save the file into the same folder as you will be writing your Python program. Note: Each student will have a distinct data file for the assignment - so only use your own data file for analysis.
Data Format
The file contains much of the text from the introduction of the textbook except that random numbers are inserted throughout the text. Here is a sample of the output you might see:

In [ ]:
Why should you learn to write programs? 7746
12 1929 8827
Writing programs (or programming) is a very creative 
7 and rewarding activity.  You can write programs for 
many reasons, ranging from making your living to solving
8837 a difficult data analysis problem to having fun to helping 128
someone else solve a problem.  This book assumes that 
everyone needs to know how to program ...

The sum for the sample text above is 27486. The numbers can appear anywhere in the line. There can be any number of numbers in each line (including none).
Handling The Data
The basic outline of this problem is to read the file, look for integers using the re.findall(), looking for a regular expression of '[0-9]+' and then converting the extracted strings to integers and summing up the integers.



Enter the sum from the actual data and your Python code below:

Sum: 
                 
                 (ends with 361) 

Python code:

In [ ]:
import re
fh=open('/content/drive/MyDrive/Colab Notebooks/regex_sum_1568464.txt')
sum=0
for line in fh:
    line=line.rstrip()
    y=re.findall('[0-9]+',line)
    for astring in y:
      x=int(astring)
      sum=sum+x
print (sum)

332361

Chapter 12 sockets example code

In [ ]:
import socket

mysock=socket.socket(socket.AF_INET,socket.SOCK_STREAM) # not make connection yet
mysock.connect(('data.pr4e.org',80)) #connect to port 80 web server
cmd='GET https://data.pr4e.org/romeo.txt HTTP/1.0\n\n'.encode()
mysock.send(cmd)

while True:
  data=mysock.recv(512)
  if (len(data)<1):
    break
  print(data.decode())
mysock.close()

HTTP/1.1 400 Bad Request
Date: Fri, 10 Jun 2022 15:47:14 GMT
Server: Apache/2.4.18 (Ubuntu)
Content-Length: 308
Connection: close
Content-Type: text/html; charset=iso-8859-1

<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
<html><head>
<title>400 Bad Request</title>
</head><body>
<h1>Bad Request</h1>
<p>Your browser sent a request that this server could not understand.<br />
</p>
<hr>
<address>Apache/2.4.18 (Ubuntu) Server at do1.dr-chuck.com Port 80</address>
</body></html>

Welcome Sophia Xinyi Wang from Using Python to Access Web Data

Exploring the HyperText Transport Protocol

You are to retrieve the following document using the HTTP protocol in a way that you can examine the HTTP Response headers.

http://data.pr4e.org/intro-short.txt

There are three ways that you might retrieve this web page and look at the response headers:

Preferred: Modify the socket1.py program to retrieve the above URL and print out the headers and data. Make sure to change the code to retrieve the above URL - the values are different for each URL.
Open the URL in a web browser with a developer console or FireBug and manually examine the headers that are returned.
Enter the header values in each of the fields below and press "Submit".

Last-Modified:
Sat, 13 May 2017 11:22:22 GMT


ETag:
1d3-54f6609240717


Content-Length:
467


Cache-Control:
max-age=0, no-cache, no-store, must-revalidate


Content-Type:
text/plain

In [ ]:
import socket

mysock = socket.socket(socket.AF_INET, socket.SOCK_STREAM)
mysock.connect(('data.pr4e.org', 80))
cmd = 'GET http://data.pr4e.org/intro-short.txt HTTP/1.0\r\n\r\n'.encode()
mysock.send(cmd)

while True:
    data = mysock.recv(512)
    if len(data) < 1:
        break
    print(data.decode(),end='')

mysock.close()

HTTP/1.1 200 OK
Date: Fri, 10 Jun 2022 16:16:32 GMT
Server: Apache/2.4.18 (Ubuntu)
Last-Modified: Sat, 13 May 2017 11:22:22 GMT
ETag: "1d3-54f6609240717"
Accept-Ranges: bytes
Content-Length: 467
Cache-Control: max-age=0, no-cache, no-store, must-revalidate
Pragma: no-cache
Expires: Wed, 11 Jan 1984 05:00:00 GMT
Connection: close
Content-Type: text/plain

Why should you learn to write programs?

Writing programs (or programming) is a very creative
and rewarding activity.  You can write programs for
many reasons, ranging from making your living to solving
a difficult data analysis problem to having fun to helping
someone else solve a problem.  This book assumes that
everyone needs to know how to program, and that once
you know how to program you will figure out what you want
to do with your newfound skills.

worked example : using urllib

In [ ]:
import urllib.request, urllib.parse, urllib.error

img = urllib.request.urlopen('http://data.pr4e.org/cover3.jpg')
fhand = open('cover3.jpg', 'wb')
size = 0
while True:
    info = img.read(100000)
    if len(info) < 1: break
    size = size + len(info)
    fhand.write(info)

print(size, 'characters copied.')
fhand.close()

# Code: http://www.py4e.com/code3/curl2.py

230210 characters copied.

In [ ]:
import urllib.request, urllib.parse, urllib.error

fhand=urllib.request.urlopen('http://data.pr4e.org/romeo.txt') #open the url 

counts=dict() #create dictionary 
for line in fhand:
  words=line.decode().split() #decode them, run through the things
  for word in words:
    counts[word]=counts.get(word,0)+1
  print(counts) #run counts function

{'But': 1, 'soft': 1, 'what': 1, 'light': 1, 'through': 1, 'yonder': 1, 'window': 1, 'breaks': 1}
{'But': 1, 'soft': 1, 'what': 1, 'light': 1, 'through': 1, 'yonder': 1, 'window': 1, 'breaks': 1, 'It': 1, 'is': 2, 'the': 2, 'east': 1, 'and': 1, 'Juliet': 1, 'sun': 1}
{'But': 1, 'soft': 1, 'what': 1, 'light': 1, 'through': 1, 'yonder': 1, 'window': 1, 'breaks': 1, 'It': 1, 'is': 2, 'the': 3, 'east': 1, 'and': 2, 'Juliet': 1, 'sun': 2, 'Arise': 1, 'fair': 1, 'kill': 1, 'envious': 1, 'moon': 1}
{'But': 1, 'soft': 1, 'what': 1, 'light': 1, 'through': 1, 'yonder': 1, 'window': 1, 'breaks': 1, 'It': 1, 'is': 3, 'the': 3, 'east': 1, 'and': 3, 'Juliet': 1, 'sun': 2, 'Arise': 1, 'fair': 1, 'kill': 1, 'envious': 1, 'moon': 1, 'Who': 1, 'already': 1, 'sick': 1, 'pale': 1, 'with': 1, 'grief': 1}

**install beautiful soup in the Jupyter Notebook**

In [ ]:
!pip install requests
!pip install BeautifulSoup4

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (2.23.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests) (2022.5.18.1)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests) (2.10)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: BeautifulSoup4 in /usr/local/lib/python3.7/dist-packages (4.6.3)

13.1 Scraping Numbers from HTML using BeautifulSoup In this assignment you will write a Python program similar to http://www.py4e.com/code3/urllink2.py. The program will use urllib to read the HTML from the data files below, and parse the data, extracting numbers and compute the sum of the numbers in the file.

We provide two files for this assignment. One is a sample file where we give you the sum for your testing and the other is the actual data you need to process for the assignment.


Sample data: http://py4e-data.dr-chuck.net/comments_42.html (Sum=2553)

Actual data: http://py4e-data.dr-chuck.net/comments_1568466.html (Sum ends with 95)

You do not need to save these files to your folder since your program will read the data directly from the URL. Note: Each student will have a distinct data url for the assignment - so only use your own data url for analysis.
Data Format
The file is a table of names and comment counts. You can ignore most of the data in the file except for lines like the following:

In [ ]:
<tr><td>Modu</td><td><span class="comments">90</span></td></tr>
<tr><td>Kenzie</td><td><span class="comments">88</span></td></tr>
<tr><td>Hubert</td><td><span class="comments">87</span></td></tr>

You are to find all the <span> tags in the file and pull out the numbers from the tag and sum the numbers.
Look at the sample code provided. It shows how to find all of a certain kind of tag, loop through the tags and extract the various aspects of the tags.

In [ ]:
...
# Retrieve all of the anchor tags
tags = soup('a')
for tag in tags:
   # Look at the parts of a tag
   print 'TAG:',tag
   print 'URL:',tag.get('href', None)
   print 'Contents:',tag.contents[0]
   print 'Attrs:',tag.attrs

You need to adjust this code to look for span tags and pull out the text content of the span tag, convert them to integers and add them up to complete the assignment.

In [ ]:
from urllib import request
from bs4 import BeautifulSoup

url = input('Enter - ')
html = request.urlopen(url).read()
#soup=BeautifulsoupSoup(html)
soup = BeautifulSoup(html, "html.parser")
tags=soup('span')
sum=0
for tag in tags:
  sum=sum+int(tag.contents[0])
  print('sum',sum)

Enter - http://py4e-data.dr-chuck.net/comments_1568466.html
sum 97
sum 193
sum 287
sum 380
sum 471
sum 560
sum 649
sum 732
sum 813
sum 892
sum 970
sum 1046
sum 1120
sum 1190
sum 1258
sum 1321
sum 1382
sum 1442
sum 1499
sum 1554
sum 1609
sum 1663
sum 1715
sum 1766
sum 1817
sum 1867
sum 1915
sum 1963
sum 2007
sum 2041
sum 2073
sum 2104
sum 2135
sum 2166
sum 2196
sum 2226
sum 2248
sum 2270
sum 2291
sum 2306
sum 2319
sum 2330
sum 2341
sum 2352
sum 2363
sum 2373
sum 2382
sum 2391
sum 2393
sum 2395

13.2  Following Links in Python

In this assignment you will write a Python program that expands on http://www.py4e.com/code3/urllinks.py. The program will use urllib to read the HTML from the data files below, extract the href= vaues from the anchor tags, scan for a tag that is in a particular position relative to the first name in the list, follow that link and repeat the process a number of times and report the last name you find.

We provide two files for this assignment. One is a sample file where we give you the name for your testing and the other is the actual data you need to process for the assignment


Sample problem: Start at http://py4e-data.dr-chuck.net/known_by_Fikret.html

Find the link at position 3 (the first name is 1). Follow that link. Repeat this process 4 times. The answer is the last name that you retrieve.
Sequence of names: Fikret Montgomery Mhairade Butchi Anayah
Last name in sequence: Anayah

Actual problem: Start at: http://py4e-data.dr-chuck.net/known_by_Fergal.html

Find the link at position 18 (the first name is 1). Follow that link. Repeat this process 7 times. The answer is the last name that you retrieve.
Hint: The first character of the name of the last page that you will load is: T

Strategy
The web pages tweak the height between the links and hide the page after a few seconds to make it difficult for you to do the assignment without writing a Python program. But frankly with a little effort and patience you can overcome these attempts to make it a little harder to complete the assignment without writing a Python program. But that is not the point. The point is to write a clever Python program to solve the program.

In [ ]:
from urllib.request import urlopen
from bs4 import BeautifulSoup
import ssl

ctx = ssl.create_default_context()
ctx.check_hostname = False
ctx.verify_mode = ssl.CERT_NONE

# url is  http://py4e-data.dr-chuck.net/known_by_Fergal.html
url = input("Enter URL: ")
count = int(input("Enter count: "))
position = int(input("Enter position: "))


names = []

while count > 0:
    print ("retrieving: {0}".format(url))
    html = urlopen(url, context=ctx).read()
    soup = BeautifulSoup(html, "html.parser")
    anchors = soup('a')
    name = anchors[position-1].string
    names.append(name)
    url = anchors[position-1]['href']
    count -= 1

print (names[-1])

Enter URL: http://py4e-data.dr-chuck.net/known_by_Fergal.html
Enter count: 7
Enter position: 18
retrieving: http://py4e-data.dr-chuck.net/known_by_Fergal.html
retrieving: http://py4e-data.dr-chuck.net/known_by_Tiegan.html
retrieving: http://py4e-data.dr-chuck.net/known_by_Kenzeigh.html
retrieving: http://py4e-data.dr-chuck.net/known_by_Neema.html
retrieving: http://py4e-data.dr-chuck.net/known_by_Tamlah.html
retrieving: http://py4e-data.dr-chuck.net/known_by_Shula.html
retrieving: http://py4e-data.dr-chuck.net/known_by_Dailey.html
Tabitha

14 Extracting Data from XML

In this assignment you will write a Python program somewhat similar to http://www.py4e.com/code3/geoxml.py. The program will prompt for a URL, read the XML data from that URL using urllib and then parse and extract the comment counts from the XML data, compute the sum of the numbers in the file.

We provide two files for this assignment. One is a sample file where we give you the sum for your testing and the other is the actual data you need to process for the assignment.
Sample data: http://py4e-data.dr-chuck.net/comments_42.xml (Sum=2553)

Actual data: http://py4e-data.dr-chuck.net/comments_1568468.xml (Sum ends with 49)

You do not need to save these files to your folder since your program will read the data directly from the URL. Note: Each student will have a distinct data url for the assignment - so only use your own data url for analysis.

In [ ]:
import urllib.request, urllib.parse, urllib.error
import xml.etree.ElementTree as ET

serviceurl = 'http://py4e-data.dr-chuck.net/comments_1568468.xml'

url = input('Enter location: ')

print('Retrieving', url)
uh = urllib.request.urlopen(url)
data = uh.read()
print('Retrieved', len(data), 'characters')
print(data.decode())
tree = ET.fromstring(data)

counts =  tree.findall('.//count')
print ("Count: " + str(len(counts)))

accumulator = 0

for count in counts:
    accumulator += int(count.text)

print ("Sum:" + str(accumulator))

Enter location: http://py4e-data.dr-chuck.net/comments_1568468.xml
Retrieving http://py4e-data.dr-chuck.net/comments_1568468.xml
Retrieved 4223 characters
<?xml version="1.0" encoding="UTF-8"?>
<commentinfo>
  <note>This file contains the actual data for your assignment - good luck!</note>

  <comments>
    <comment>
       <name>Milla</name>
       <count>100</count>
    </comment>
    <comment>
       <name>Richie</name>
       <count>97</count>
    </comment>
    <comment>
       <name>Imogen</name>
       <count>97</count>
    </comment>
    <comment>
       <name>Mirin</name>
       <count>97</count>
    </comment>
    <comment>
       <name>Honeyjac</name>
       <count>95</count>
    </comment>
    <comment>
       <name>Prisha</name>
       <count>95</count>
    </comment>
    <comment>
       <name>Janie</name>
       <count>93</count>
    </comment>
    <comment>
       <name>Nevan</name>
       <count>91</count>
    </comment>
    <comment>
       <name>Darien</name>
       <count>87</count>
    </comment>
    <comment>
       <name>Maanisha</name>
       <count>85</count>
    </comment>
    <comment>
       <name>Elleanne</name>
       <count>84</count>
    </comment>
    <comment>
       <name>Evann</name>
       <count>80</count>
    </comment>
    <comment>
       <name>Sylvanna</name>
       <count>79</count>
    </comment>
    <comment>
       <name>Safiya</name>
       <count>72</count>
    </comment>
    <comment>
       <name>Kyesha</name>
       <count>67</count>
    </comment>
    <comment>
       <name>Leetisha</name>
       <count>64</count>
    </comment>
    <comment>
       <name>Liyah</name>
       <count>60</count>
    </comment>
    <comment>
       <name>Allana</name>
       <count>59</count>
    </comment>
    <comment>
       <name>Barrie</name>
       <count>59</count>
    </comment>
    <comment>
       <name>Aimee</name>
       <count>56</count>
    </comment>
    <comment>
       <name>Emily</name>
       <count>55</count>
    </comment>
    <comment>
       <name>Exodi</name>
       <count>54</count>
    </comment>
    <comment>
       <name>Seamas</name>
       <count>53</count>
    </comment>
    <comment>
       <name>Dubhlinn</name>
       <count>52</count>
    </comment>
    <comment>
       <name>Arun</name>
       <count>50</count>
    </comment>
    <comment>
       <name>Maris</name>
       <count>49</count>
    </comment>
    <comment>
       <name>Adelaide</name>
       <count>48</count>
    </comment>
    <comment>
       <name>Harlee</name>
       <count>44</count>
    </comment>
    <comment>
       <name>Maddox</name>
       <count>43</count>
    </comment>
    <comment>
       <name>Maewenn</name>
       <count>42</count>
    </comment>
    <comment>
       <name>Awwal</name>
       <count>42</count>
    </comment>
    <comment>
       <name>Anayah</name>
       <count>38</count>
    </comment>
    <comment>
       <name>Angelica</name>
       <count>36</count>
    </comment>
    <comment>
       <name>Jason</name>
       <count>35</count>
    </comment>
    <comment>
       <name>Ailise</name>
       <count>34</count>
    </comment>
    <comment>
       <name>Loren</name>
       <count>30</count>
    </comment>
    <comment>
       <name>Fatima</name>
       <count>29</count>
    </comment>
    <comment>
       <name>Raonaid</name>
       <count>29</count>
    </comment>
    <comment>
       <name>Coya</name>
       <count>29</count>
    </comment>
    <comment>
       <name>Rania</name>
       <count>23</count>
    </comment>
    <comment>
       <name>Trent</name>
       <count>22</count>
    </comment>
    <comment>
       <name>Tillie</name>
       <count>22</count>
    </comment>
    <comment>
       <name>Jasmyn</name>
       <count>19</count>
    </comment>
    <comment>
       <name>Aylesha</name>
       <count>16</count>
    </comment>
    <comment>
       <name>Adeena</name>
       <count>9</count>
    </comment>
    <comment>
       <name>Hind</name>
       <count>8</count>
    </comment>
    <comment>
       <name>Andrejs</name>
       <count>7</count>
    </comment>
    <comment>
       <name>Morvern</name>
       <count>6</count>
    </comment>
    <comment>
       <name>Rianna</name>
       <count>4</count>
    </comment>
    <comment>
       <name>Livia</name>
       <count>4</count>
    </comment>
  </comments>
</commentinfo>

Count: 50
Sum:2549

15.1  Extracting Data from JSON

In this assignment you will write a Python program somewhat similar to http://www.py4e.com/code3/json2.py. The program will prompt for a URL, read the JSON data from that URL using urllib and then parse and extract the comment counts from the JSON data, compute the sum of the numbers in the file and enter the sum below:
We provide two files for this assignment. One is a sample file where we give you the sum for your testing and the other is the actual data you need to process for the assignment.

Sample data: http://py4e-data.dr-chuck.net/comments_42.json (Sum=2553)
Actual data: http://py4e-data.dr-chuck.net/comments_1568469.json (Sum ends with 82)

You do not need to save these files to your folder since your program will read the data directly from the URL. Note: Each student will have a distinct data url for the assignment - so only use your own data url for analysis.

Data Format
The data consists of a number of names and comment counts in JSON as follows:

In [ ]:
{
  comments: [
    {
      name: "Matthias"
      count: 97
    },
    {
      name: "Geomer"
      count: 97
    }
    ...
  ]
}

The closest sample code that shows how to parse JSON and extract a list is json2.py. You might also want to look at geoxml.py to see how to prompt for a URL and retrieve data from a URL.

In [ ]:
#Sample Execution
$ python3 solution.py
Enter location: http://py4e-data.dr-chuck.net/comments_42.json
Retrieving http://py4e-data.dr-chuck.net/comments_42.json
Retrieved 2733 characters
Count: 50
Sum: 2...

In [ ]:
import json
import urllib.request, urllib.parse, urllib.error
import xml.etree.ElementTree as ET

url = input('Enter location: ')
address = urllib.request.urlopen(url)
data = address.read()

print('Retrieving', url)
print('Retrieved', len(data), 'characters')

info = json.loads(data)
info = info["comments"]

total = 0

for item in info:
    print("Count: ",item["count"])
    total = total + int(item["count"])
    print("Sum: ", total)

print("Final sum: ", total)

Enter location: http://py4e-data.dr-chuck.net/comments_1568469.json
Retrieving http://py4e-data.dr-chuck.net/comments_1568469.json
Retrieved 2730 characters
Count:  100
Sum:  100
Count:  99
Sum:  199
Count:  97
Sum:  296
Count:  97
Sum:  393
Count:  97
Sum:  490
Count:  93
Sum:  583
Count:  91
Sum:  674
Count:  88
Sum:  762
Count:  83
Sum:  845
Count:  77
Sum:  922
Count:  76
Sum:  998
Count:  71
Sum:  1069
Count:  65
Sum:  1134
Count:  65
Sum:  1199
Count:  64
Sum:  1263
Count:  63
Sum:  1326
Count:  63
Sum:  1389
Count:  62
Sum:  1451
Count:  62
Sum:  1513
Count:  60
Sum:  1573
Count:  57
Sum:  1630
Count:  56
Sum:  1686
Count:  55
Sum:  1741
Count:  53
Sum:  1794
Count:  51
Sum:  1845
Count:  49
Sum:  1894
Count:  49
Sum:  1943
Count:  47
Sum:  1990
Count:  46
Sum:  2036
Count:  43
Sum:  2079
Count:  42
Sum:  2121
Count:  40
Sum:  2161
Count:  38
Sum:  2199
Count:  36
Sum:  2235
Count:  35
Sum:  2270
Count:  35
Sum:  2305
Count:  34
Sum:  2339
Count:  34
Sum:  2373
Count:  31
Sum:  2404
Count:  29
Sum:  2433
Count:  26
Sum:  2459
Count:  25
Sum:  2484
Count:  24
Sum:  2508
Count:  22
Sum:  2530
Count:  21
Sum:  2551
Count:  8
Sum:  2559
Count:  7
Sum:  2566
Count:  6
Sum:  2572
Count:  6
Sum:  2578
Count:  4
Sum:  2582
Final sum:  2582

15.2 Calling a JSON API

In this assignment you will write a Python program somewhat similar to http://www.py4e.com/code3/geojson.py. The program will prompt for a location, contact a web service and retrieve JSON for the web service and parse that data, and retrieve the first place_id from the JSON. A place ID is a textual identifier that uniquely identifies a place as within Google Maps.
API End Points

To complete this assignment, you should use this API endpoint that has a static subset of the Google Data:

In [ ]:
http://py4e-data.dr-chuck.net/json?

This API uses the same parameter (address) as the Google API. This API also has no rate limit so you can test as often as you like. If you visit the URL with no parameters, you get "No address..." response.
To call the API, you need to include a key= parameter and provide the address that you are requesting as the address= parameter that is properly URL encoded using the urllib.parse.urlencode() function as shown in http://www.py4e.com/code3/geojson.py

Make sure to check that your code is using the API endpoint is as shown above. You will get different results from the geojson and json endpoints so make sure you are using the same end point as this autograder is using.

In [ ]:
import urllib.request, urllib.parse, urllib.error
import json
import ssl

api_key = False

if api_key is False:
    api_key = 42
    serviceurl = 'http://py4e-data.dr-chuck.net/json?'
else :
    serviceurl = 'https://maps.googleapis.com/maps/api/geocode/json?'

# Ignore SSL certificate errors
ctx = ssl.create_default_context()
ctx.check_hostname = False
ctx.verify_mode = ssl.CERT_NONE

while True:
    address = input('Enter location: ')
    if len(address) < 1: break

    parms = dict()
    parms['address'] = address
    if api_key is not False: parms['key'] = api_key
    url = serviceurl + urllib.parse.urlencode(parms)

    print('Retrieving', url)
    uh = urllib.request.urlopen(url, context=ctx)
    data = uh.read().decode()
    print('Retrieved', len(data), 'characters')

    try:
        js = json.loads(data)
    except:
        js = None

    if not js or 'status' not in js or js['status'] != 'OK':
        print('==== Failure To Retrieve ====')
        print(data)
        continue

    # print(json.dumps(js, indent=4))

    pid = js['results'][0]['place_id']
    print('Place id ',pid)

    #Place id  ChIJE1bNX8vKvJURFbYSKI1Gw0I

# **Session 4 : Using databases with Python**

SQL lite installation 

http://sqlitebrowser.org

In [ ]:
Chapter 15 exercise 1(week2)
If you don't already have it, install the SQLite Browser from http://sqlitebrowser.org/.

Then, create a SQLITE database or use an existing database and create a table in the database called "Ages":

In [ ]:
CREATE TABLE Ages ( 
  name VARCHAR(128), 
  age INTEGER
)

Then make sure the table is empty by deleting any rows that you previously inserted, and insert these rows and only these rows with the following commands:

In [ ]:
DELETE FROM Ages;
INSERT INTO Ages (name, age) VALUES ('Keiron', 30);
INSERT INTO Ages (name, age) VALUES ('Abbeygail', 18);
INSERT INTO Ages (name, age) VALUES ('Tobi', 36);
INSERT INTO Ages (name, age) VALUES ('Yasmine', 35);
INSERT INTO Ages (name, age) VALUES ('Shreyas', 25);

Once the inserts are done, run the following SQL command:

In [ ]:
SELECT hex(name || age) AS X FROM Ages ORDER BY X

Find the first row in the resulting record set and enter the long string that looks like 53656C696E613333.
Note: This assignment must be done using SQLite - in particular, the SELECT query above will not work in any other database. So you cannot use MySQL or Oracle for this assignment.

Ans:
**41626265796761696C3138**

4B6569726F6E3330

536872657961733235

546F62693336

5961736D696E653335


**Chapter 15 exercise 2(week2) **

Counting Organizations

This application will read the mailbox data (mbox.txt) and count the number of email messages per organization (i.e. domain name of the email address) using a database with the following schema to maintain the counts.

In [ ]:
CREATE TABLE Counts (org TEXT, count INTEGER)

When you have run the program on mbox.txt upload the resulting database file above for grading.
If you run the program multiple times in testing or with dfferent files, make sure to empty out the data before each run.

You can use this code as a starting point for your application: http://www.py4e.com/code3/emaildb.py.

The data file for this application is the same as in previous assignments: http://www.py4e.com/code3/mbox.txt.

Because the sample code is using an UPDATE statement and committing the results to the database as each record is read in the loop, it might take as long as a few minutes to process all the data. The commit insists on completely writing all the data to disk every time it is called.

The program can be speeded up greatly by moving the commit operation outside of the loop. In any database program, there is a balance between the number of operations you execute between commits and the importance of not losing the results of operations that have not yet been committed.

In [ ]:
!pip install sqlite3

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
ERROR: Could not find a version that satisfies the requirement sqlite3 (from versions: none)
ERROR: No matching distribution found for sqlite3

In [ ]:
import sqlite3

conn = sqlite3.connect('emaildb.sqlite')
cur = conn.cursor()

cur.execute('DROP TABLE IF EXISTS Counts')

cur.execute('''
CREATE TABLE Counts (org TEXT, count INTEGER)''')

fname = 'mbox.txt'
fh = open(fname)

count = 0

for line in fh:
    if not line.startswith('From: '): continue
    pieces = line.split()
    email = pieces[1]
    spemail = email.split("@")
    host = spemail[1]# got the org
    count += 1 # got the count

    cur.execute('SELECT count FROM Counts WHERE org = ? ', (host,))
    row = cur.fetchone()
    if row is None:
        cur.execute('''INSERT INTO Counts (org, count)
                VALUES (?, 1)''', (host,))
    else:
        cur.execute('UPDATE Counts SET count = count + 1 WHERE org = ?',
                    (host,))
    conn.commit()


sqlstr = 'SELECT org, count FROM Counts ORDER BY count DESC LIMIT 10'

for row in cur.execute(sqlstr):
    print(str(row[0]), row[1])

cur.close()

iupui.edu 536
umich.edu 491
indiana.edu 178
caret.cam.ac.uk 157
vt.edu 110
uct.ac.za 96
media.berkeley.edu 56
ufp.pt 28
gmail.com 25
et.gatech.edu 17

Chapter 15 exercise(week3) -multi table database

In [ ]:
import xml.etree.ElementTree as ET
import sqlite3

conn = sqlite3.connect('trackdb.sqlite')
cur = conn.cursor()

# Make some fresh tables using executescript()
cur.executescript('''
DROP TABLE IF EXISTS Artist;
DROP TABLE IF EXISTS Genre; 
DROP TABLE IF EXISTS Album;
DROP TABLE IF EXISTS Track;
CREATE TABLE Artist (
    id  INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
    name    TEXT UNIQUE
);
CREATE TABLE Genre (
    id  INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
    name    TEXT UNIQUE
);
CREATE TABLE Album (
    id  INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
    artist_id  INTEGER,
    title   TEXT UNIQUE
);
CREATE TABLE Track (
    id  INTEGER NOT NULL PRIMARY KEY 
        AUTOINCREMENT UNIQUE,
    title TEXT  UNIQUE,
    album_id  INTEGER,
    genre_id  INTEGER,
    len INTEGER, rating INTEGER, count INTEGER
);
''')


fname =input('Enter file name: ')
if ( len(fname) < 1 ) : fname = 'Library.xml'

# <key>Track ID</key><integer>369</integer>
# <key>Name</key><string>Another One Bites The Dust</string>
# <key>Artist</key><string>Queen</string>
def lookup(d, key):
    found = False
    for child in d:
        if found : return child.text
        if child.tag == 'key' and child.text == key :
            found = True
    return None

stuff = ET.parse(fname)
all = stuff.findall('dict/dict/dict')
print( 'Dict count:', len(all))
for entry in all:
    if ( lookup(entry, 'Track ID') is None ) : continue

    name = lookup(entry, 'Name')
    artist = lookup(entry, 'Artist')
    album = lookup(entry, 'Album')
    #added this
    genre = lookup(entry,'Genre')
    count = lookup(entry, 'Play Count')
    rating = lookup(entry, 'Rating')
    length = lookup(entry, 'Total Time')

    if name is None or artist is None or album is None or genre is None: 
        continue

    print (name, artist, album, genre, count, rating, length)

    cur.execute('''INSERT OR IGNORE INTO Artist (name) 
        VALUES ( ? )''', ( artist, ) )
    cur.execute('SELECT id FROM Artist WHERE name = ? ', (artist, ))
    artist_id = cur.fetchone()[0]
    #Added this
    cur.execute('''INSERT OR IGNORE INTO Genre (name) 
        VALUES ( ? )''', ( genre, ) )
    cur.execute('SELECT id FROM Genre WHERE name = ? ', (genre, ))
    genre_id = cur.fetchone()[0]

    cur.execute('''INSERT OR IGNORE INTO Album (title, artist_id) 
        VALUES ( ?, ? )''', ( album, artist_id ) )
    cur.execute('SELECT id FROM Album WHERE title = ? ', (album, ))
    album_id = cur.fetchone()[0]

    cur.execute('''INSERT OR REPLACE INTO Track
        (title, album_id, genre_id, len, rating, count) 
        VALUES ( ?, ?, ?, ?, ?, ? )''', 
        ( name, album_id, genre_id, length, rating, count ) )

    conn.commit()

Enter file name: Library.xml
Dict count: 404
Another One Bites The Dust Queen Greatest Hits Rock 55 100 217103
Asche Zu Asche Rammstein Herzeleid Industrial 79 100 231810
Beauty School Dropout Various Grease Soundtrack 48 100 239960
Black Dog Led Zeppelin IV Rock 109 100 296620
Bring The Boys Back Home Pink Floyd The Wall [Disc 2] Rock 33 100 87118
Circles Bryan Lee Blues Is Funk 54 60 355369
Comfortably Numb Pink Floyd The Wall [Disc 2] Rock 36 100 384130
Crazy Little Thing Called Love Queen Greatest Hits Rock 38 100 163631
Electric Funeral Black Sabbath Paranoid Metal 44 100 293015
Fat Bottomed Girls Queen Greatest Hits Rock 38 100 257515
For Those About To Rock (We Salute You) AC/DC Who Made Who Rock 84 100 353750
Four Sticks Led Zeppelin IV Rock 84 100 284421
Furious Angels Rob Dougan The Matrix Reloaded Soundtrack 54 100 330004
Gelle Bryan Lee Blues Is Blues/R&B 45 60 199836
Going To California Led Zeppelin IV Rock 100 100 215666
Grease Various Grease Soundtrack 42 100 205792
Hand of Doom Black Sabbath Paranoid Metal 36 100 429609
Hells Bells AC/DC Who Made Who Rock 82 100 312946
Hey You Pink Floyd The Wall [Disc 2] Rock 23 100 282305
I Worry Bryan Lee Blues Is Blues/R&B 33 100 341315
Iron Man Black Sabbath Paranoid Metal 39 100 358530
Is There Anybody Out There? Pink Floyd The Wall [Disc 2] Rock 26 100 160679
It was a Very Good Year Frank Sinatra Greatest Hits Easy Listening 39 100 268852
Its Your Move Bryan Lee Blues Is Blues/R&B 40 100 245002
Jack the Stripper/Fairies Wear Boots Black Sabbath Paranoid Metal 35 100 373995
Killer Queen Queen Greatest Hits Rock 34 100 181368
Laichzeit Rammstein Herzeleid Industrial 41 100 262844
Let me Down Easy Bryan Lee Blues Is Blues/R&B 43 100 331441
Misty Mountain Hop Led Zeppelin IV Rock 88 100 278831
No Low Down Bryan Lee Blues Is Blues/R&B 39 100 245760
Now You Are Gone America Greatest Hits Easy Listening 52 100 187559
Outside The Wall Pink Floyd The Wall [Disc 2] Rock 16 100 104437
Paranoid Black Sabbath Paranoid Metal 36 100 172930
Planet Caravan Black Sabbath Paranoid Metal 38 100 274938
Pretty Jeanie Bryan Lee Blues Is Blues/R&B 34 100 225175
Rammstein Rammstein Herzeleid Industrial 45 100 265090
Rat Salad Black Sabbath Paranoid Metal 46 100 150230
Rock & Roll Led Zeppelin IV Rock 109 100 220891
Rode Across the Desert America Greatest Hits Easy Listening 60 100 249887
Sandy Various Grease Soundtrack 36 100 155742
Shake Your Foundations AC/DC Who Made Who Rock 85 100 233769
Sister Golden Hair America Greatest Hits Easy Listening 60 100 202057
Somebody To Love Queen Greatest Hits Rock 17 100 297586
Stairway To Heaven Led Zeppelin IV Rock 93 100 481567
Strangers in the Night Frank Sinatra Greatest Hits Easy Listening 42 100 158484
Summer Nights Various Grease Soundtrack 35 100 216973
Summer Wind Frank Sinatra Greatest Hits Easy Listening 46 100 177554
Thats Life Frank Sinatra Greatest Hits Easy Listening 43 100 189988
The Battle Of Evermore Led Zeppelin IV Rock 110 100 351529
The Blues "Is" Bryan Lee Blues Is Blues/R&B 45 100 252238
There it Is Bryan Lee Blues Is Blues/R&B 35 100 395441
Think Bryan Lee Blues Is Blues/R&B 41 100 320339
This Town Frank Sinatra Greatest Hits Easy Listening 44 100 185051
Tin Man America Greatest Hits Easy Listening 50 100 210076
Track 01 Billy Price Danger Zone Blues/R&B 47 100 261825
Track 02 Billy Price Danger Zone Blues/R&B 42 100 165459
Track 03 Billy Price Danger Zone Blues/R&B 41 100 206471
Messin with the Kid The Canettes Blues Band Self Titled Blues/R&B 23 100 226377
Track 04 Billy Price Danger Zone Blues/R&B 37 100 257175
Stormy Monday The Canettes Blues Band Self Titled Blues/R&B 29 100 464143
Track 05 Billy Price Danger Zone Blues/R&B 42 100 230295
Waiting on Ice Bryan Lee Blues Is Blues/R&B 37 100 289384
War Pigs/Luke's Wall Black Sabbath Paranoid Metal 38 100 478197
We Are The Champions Queen Greatest Hits Rock 24 100 181864
We Will Rock You Queen Greatest Hits Rock 33 100 123559
When Somebody Loves You Frank Sinatra Greatest Hits Easy Listening 43 100 117263
When The Levee Breaks Led Zeppelin IV Rock 83 100 427624
You are the One that I Want Various Grease Soundtrack 31 100 169900
You Done Me Wrong Bryan Lee Blues Is Blues/R&B 35 100 200097
You Shook Me All Night Long AC/DC Who Made Who Rock 92 100 210938
You're My Best Friend Queen Greatest Hits Rock 31 100 172643
Zion Fluke The Matrix Reloaded Soundtrack 47 100 273528
Who Made Who AC/DC Who Made Who Rock 110 100 207203
D.T. AC/DC Who Made Who Rock 90 None 173714
Sink the Pink AC/DC Who Made Who Rock 83 None 253466
Ride On AC/DC Who Made Who Rock 75 None 351268
Chase the Ace AC/DC Who Made Who Rock 93 None 181420
Wollt Ihr Das Bett In Flammen Sehen Rammstein Herzeleid Industrial 50 None 317387
Der Meister Rammstein Herzeleid Industrial 46 None 250801
Weisses Fleisch Rammstein Herzeleid Industrial 52 None 215902
Seemann Rammstein Herzeleid Industrial 34 None 288235
Du Riechst So Gut Rammstein Herzeleid Industrial 50 None 289332
Das Alte Leid Rammstein Herzeleid Industrial 46 None 344581
Heirate Mich Rammstein Herzeleid Industrial 39 None 284734
Herzeleid Rammstein Herzeleid Industrial 42 None 223425
Baba O'Riley The Who Who's Next Rock 45 None 298448
Bargain The Who Who's Next Rock 37 None 331676
Love Ain't for Keeping The Who Who's Next Rock 24 None 130560
My Wife The Who Who's Next Rock 17 None 213786
The Song Is Over The Who Who's Next Rock 14 None 375797
Getting In Tune The Who Who's Next Rock 27 None 288809
Going Mobile The Who Who's Next Rock 28 100 221910
Behind Blue Eyes The Who Who's Next Rock 43 None 221570
Won't Get Fooled Again The Who Who's Next Rock 21 None 511111
Folsom Prison Blues Johnny Cash The Legend Of Johnny Cash Country 47 100 170004
I Walk The Line Johnny Cash The Legend Of Johnny Cash Country 33 100 165720
Get Rhythm Johnny Cash The Legend Of Johnny Cash Country 35 100 134530
Big River Johnny Cash The Legend Of Johnny Cash Country 51 None 152711
Guess Things Happen That Way Johnny Cash The Legend Of Johnny Cash Country 35 None 111386
Ring Of Fire Johnny Cash The Legend Of Johnny Cash Country 30 100 157100
Jackson Johnny Cash The Legend Of Johnny Cash Country 35 100 166530
A Boy Named Sue (live) Johnny Cash The Legend Of Johnny Cash Country 37 None 226063
You Raise Me Up Selah Hiding Place Gospel & Religious 9 None 302262
Hold On, I'm Coming The Canettes Blues Band On Tap & In the Can Blues/R&B 34 100 282566
Got my Mojo Working The Canettes Blues Band On Tap & In the Can Blues/R&B 52 100 310517
Sweet Home Chicago The Canettes Blues Band On Tap & In the Can Blues/R&B 27 100 375849
Heavy Love The Canettes Blues Band On Tap & In the Can Blues/R&B 28 100 253544
Cold Cold Feeling The Canettes Blues Band On Tap & In the Can Blues/R&B 43 100 261929
Lonely Avenue The Canettes Blues Band On Tap & In the Can Blues/R&B 24 100 292022
Good Morning Little Schoolgirl The Canettes Blues Band On Tap & In the Can Blues/R&B 20 100 278648
Dust My Broom The Canettes Blues Band On Tap & In the Can Blues/R&B 24 100 299311
Gimme' Some Lovin The Canettes Blues Band On Tap & In the Can Blues/R&B 35 100 227239
Everybody Needs Somebody to Love The Canettes Blues Band On Tap & In the Can Blues/R&B 24 100 195186
Black Magic Woman The Canettes Blues Band On Tap & In the Can Blues/R&B 31 100 442644
Steppin' Rooster The Canettes Blues Band On Tap & In the Can Blues/R&B 21 100 704862
Our Love is Drifting The Canettes Blues Band On Tap & In the Can Blues/R&B 15 100 292649
Doin' 100 The Canettes Blues Band On Tap & In the Can Blues/R&B 20 100 343980
Mother Joy Matt Ender Natural Wonders Music Sampler 1999 New Age 463 None 287294
Soldier's Lament Steve McDonald Natural Wonders Music Sampler 1999 New Age 371 None 347193
Dulaman Altan Natural Wonders Music Sampler 1999 New Age 403 None 223007
The Arrow Chris Spheeris Natural Wonders Music Sampler 1999 New Age 416 None 319869
Spanish Eyes La Esperanza Natural Wonders Music Sampler 1999 New Age 375 None 259030
Banana Bay Luis Villegas Natural Wonders Music Sampler 1999 New Age 403 None 198060
Aguas De Marco Rosa Passos Natural Wonders Music Sampler 1999 New Age 407 None 179408
Tamborea Energipsy Natural Wonders Music Sampler 1999 New Age 355 None 235389
Gone Hollie Smith Natural Wonders Music Sampler 1999 New Age 362 None 196414
The Immigrant Joanie Madden Natural Wonders Music Sampler 1999 New Age 350 None 362631
Pahrump-Big Water Cusco Natural Wonders Music Sampler 1999 New Age 342 None 191634
Seeker's Quest Cheryl Gunn Natural Wonders Music Sampler 1999 New Age 337 None 236434
Floating To Forever Dean Everson Natural Wonders Music Sampler 1999 New Age 337 None 351686
Open Road Jeff Bailey Relaxing Jazz Jazz 10 None 318563
Ruby Kaiser Chiefs Yours Truly, Angry Mob Alternative & Punk 13 None 205008
The Angry Mob Kaiser Chiefs Yours Truly, Angry Mob Alternative & Punk 41 None 288313
Heat Dies Down Kaiser Chiefs Yours Truly, Angry Mob Alternative & Punk 12 None 237061
Highroyds Kaiser Chiefs Yours Truly, Angry Mob Alternative & Punk 10 None 199575
Love's Not A Competition (But I'm Winning) Kaiser Chiefs Yours Truly, Angry Mob Alternative & Punk 11 None 197799
Thank You Very Much Kaiser Chiefs Yours Truly, Angry Mob Alternative & Punk 11 None 157753
I Can Do It Without You Kaiser Chiefs Yours Truly, Angry Mob Alternative & Punk 11 None 204199
My Kind Of Guy Kaiser Chiefs Yours Truly, Angry Mob Alternative & Punk 10 None 246595
Everything Is Average Nowadays Kaiser Chiefs Yours Truly, Angry Mob Alternative & Punk 16 None 164754
Learnt My Lesson Well Kaiser Chiefs Yours Truly, Angry Mob Alternative & Punk 9 None 325955
Try Your Best Kaiser Chiefs Yours Truly, Angry Mob Alternative & Punk 8 None 222511
Retirement Kaiser Chiefs Yours Truly, Angry Mob Alternative & Punk 10 None 237426
The Angry Mob [Live From Berlin] Kaiser Chiefs Yours Truly, Angry Mob Alternative & Punk 40 None 279066
I Like To Fight Kaiser Chiefs Yours Truly, Angry Mob Alternative & Punk 8 None 218566
From The Neck Down Kaiser Chiefs Yours Truly, Angry Mob Alternative & Punk 15 None 147226
The Wisdom of Crowds: Why the Many Are Smarter than the Few Part 1 of 3 James Surowiecki The Wisdom of Crowds: Why the Many Are Smarter than the Few (Abridged Nonfiction) Business 15 None 8586749
The Wisdom of Crowds: Why the Many Are Smarter than the Few Part 2 of 3 James Surowiecki The Wisdom of Crowds: Why the Many Are Smarter than the Few (Abridged Nonfiction) Business 9 None 8443432
The Wisdom of Crowds: Why the Many Are Smarter than the Few Part 3 of 3 James Surowiecki The Wisdom of Crowds: Why the Many Are Smarter than the Few (Abridged Nonfiction) Business 3 None 4168829
The Wisdom of Crowds: Why the Many Are Smarter Than the Few (Unabridged) Part 1 of 5 James Surowiecki The Wisdom of Crowds: Why the Many Are Smarter Than the Few (Unabridged) Nonfiction 4 None 7920893
The Wisdom of Crowds: Why the Many Are Smarter Than the Few (Unabridged) Part 2 of 5 James Surowiecki The Wisdom of Crowds: Why the Many Are Smarter Than the Few (Unabridged) Nonfiction None None 7921106
The Wisdom of Crowds: Why the Many Are Smarter Than the Few (Unabridged) Part 3 of 5 James Surowiecki The Wisdom of Crowds: Why the Many Are Smarter Than the Few (Unabridged) Nonfiction None None 7965736
The Wisdom of Crowds: Why the Many Are Smarter Than the Few (Unabridged) Part 4 of 5 James Surowiecki The Wisdom of Crowds: Why the Many Are Smarter Than the Few (Unabridged) Nonfiction 1 None 9653330
The Wisdom of Crowds: Why the Many Are Smarter Than the Few (Unabridged) Part 5 of 5 James Surowiecki The Wisdom of Crowds: Why the Many Are Smarter Than the Few (Unabridged) Nonfiction None None 746536
Misty David Osborne Moonlight And Love Songs Classical 302 None 249312
My Funny Valentine David Osborne Moonlight And Love Songs Classical 301 None 235885
Since I Don't Have You David Osborne Moonlight And Love Songs Classical 288 None 251846
Tenderly David Osborne Moonlight And Love Songs Classical 284 None 227395
When I Fall In Love David Osborne Moonlight And Love Songs Classical 281 None 187768
Unforgettable David Osborne Moonlight And Love Songs Classical 280 None 272927
The Way You Look Tonight David Osborne Moonlight And Love Songs Classical 277 None 247222
I've Grown Accustomed To Your Face David Osborne Moonlight And Love Songs Classical 280 None 148035
Smoke Gets In Your Eyes David Osborne Moonlight And Love Songs Classical 277 None 198504
Fly Me To The Moon David Osborne Moonlight And Love Songs Classical 275 None 182543
Unchained Melody David Osborne Moonlight And Love Songs Classical 265 None 259369
These Foolish Things Remind Me Of You David Osborne Moonlight And Love Songs Classical 267 None 184711
La Vie En Rose David Osborne Moonlight And Love Songs Classical 259 None 276767
As Time Goes By David Osborne Moonlight And Love Songs Classical 290 None 257985
Pilot Fairly Legal Fairly Legal, Season 1 Drama 1 None 3847006
hte postal service - the impor The Postal Service unreleased demo Electronic None None 193959
Winter Wonderland Bing Crosby Seasons Greatings Holiday 163 None 144744
Jingle Bells Frank Sinatra Seasons Greatings Holiday 271 None 121756
White Christmas Bing Crosby Seasons Greatings Holiday 158 None 95634
The Christmas Song Frank Sinatra Seasons Greatings Holiday 272 None 209632
Little Drummer Boy Bing Crosby Seasons Greatings Holiday 154 None 178311
Silent Night Frank Sinatra Seasons Greatings Holiday 257 None 149054
Let It Snow Bing Crosby Seasons Greatings Holiday 154 None 125126
Mistletoe And Holly Frank Sinatra Seasons Greatings Holiday 257 None 138501
O Holy Night Bing Crosby Seasons Greatings Holiday 150 None 214021
Have Yourself A Merry Little Christmas Frank Sinatra Seasons Greatings Holiday 252 None 208248
Do You Hear What I Hear Bing Crosby Seasons Greatings Holiday 155 None 164728
I'll Be Home For Christmas Frank Sinatra Seasons Greatings Holiday 249 None 190876
Voices Disturbed The Sickness Alternative None None 191764
The Game Disturbed The Sickness Alternative 1 None 227134
Stupify Disturbed The Sickness Alternative 1 None 274233
Down With The Sickness Disturbed The Sickness Alternative 1 None 278726
Violence Fetish Disturbed The Sickness Alternative None None 203833
Fear Disturbed The Sickness Alternative 4 None 227004
Numb Disturbed The Sickness Alternative None None 224940
Want Disturbed The Sickness Alternative None None 232803
Conflict Disturbed The Sickness Alternative 5 None 275330
Shout 2000 Disturbed The Sickness Alternative 1 None 257802
Droppin' Plates Disturbed The Sickness Alternative 4 None 229302
Meaning Of Life Disturbed The Sickness Alternative 3 None 242599
PY4INF-01-Intro.mp3 Recording by Dr. Chuck Python for Informatics's official Podcast. Podcast 1 None 3428075
Eben Upton: Raspberry Pi IEEE Computer Society Computing Conversations Podcast 2 None 661368
Andrew Tanenbaum: Writing the Book on Networks IEEE Computer Society Computing Conversations Podcast 4 None 535040
Massimo Banzi: Building Arduino IEEE Computer Society Computing Conversations Podcast 1 None 567745
PY4INF-04-Functions.mp3 Recording by Dr. Chuck Python for Informatics's official Podcast. Podcast None None 1683800
PY4INF-02-Expressions.mp3 Recording by Dr. Chuck Python for Informatics's official Podcast. Podcast None None 2578416
PY4INF-03-Conditional.mp3 Recording by Dr. Chuck Python for Informatics's official Podcast. Podcast None None 2296058
PY4INF-05-Iterations.mp3 Recording by Dr. Chuck Python for Informatics's official Podcast. Podcast 1 None 2804297
PY4INF-06-Strings.mp3 Recording by Dr. Chuck Python for Informatics's official Podcast. Podcast None None 1677844
PY4INF-07-Files.mp3 Recording by Dr. Chuck Python for Informatics's official Podcast. Podcast None None 1478713
PY4INF-08-Lists.mp3 Recording by Dr. Chuck Python for Informatics's official Podcast. Podcast None None 1636231
PY4INF-09-Dictionaries.mp3 Recording by Dr. Chuck Python for Informatics's official Podcast. Podcast None None 2254445
PY4INF-10-Tuples.mp3 Recording by Dr. Chuck Python for Informatics's official Podcast. Podcast None None 1597596
PY4INF-11-Regex.mp3 Recording by Dr. Chuck Python for Informatics's official Podcast. Podcast None None 2123702
John C. Hollar: History of Computing IEEE Computer Society Computing Conversations Podcast 1 None 694073
Bob Metcalfe: Ethernet at Forty IEEE Computer Society Computing Conversations Podcast None None 1031392
Gordon Bell: Building Blocks of Computing IEEE Computer Society Computing Conversations Podcast 1 None 744620
Ian Horrocks: Standardizing OWL IEEE Computer Society Computing Conversations Podcast 1 None 572212
Katie Hafner: The Origins of the Internet IEEE Computer Society Computing Conversations Podcast 1 None 652460
Larry Smarr: Building Mosaic IEEE Computer Society Computing Conversations Podcast None None 894693
Len Kleinrock: The Theory of Packets IEEE Computer Society Computing Conversations Podcast 1 None 674742
Mitchell Baker: The Mozilla Foundation IEEE Computer Society Computing Conversations Podcast None None 994246
Pooja Sankar: Building the Piazza Collaboration System IEEE Computer Society Computing Conversations Podcast None None 496404
Van Jacobson: Content-Centric Networking IEEE Computer Society Computing Conversations Podcast None None 780251
The Apache Software Foundation IEEE Computer Society Computing Conversations Podcast None None 542484
A Brief History of Packets IEEE Computer Society Computing Conversations Podcast None None 1004643
Discovering JavaScript Object Notation IEEE Computer Society Computing Conversations Podcast None None 650971
Inventing PHP IEEE Computer Society Computing Conversations Podcast None None 494915
Monash Museum of Computing History IEEE Computer Society Computing Conversations Podcast None None 362657
The Rise of JavaScript IEEE Computer Society Computing Conversations Podcast None None 526132
Joseph Hardin: NCSA Mosaic IEEE Computer Society Computing Conversations Podcast None None 845635
Len Kleinrock on the Internet's First Two Packets IEEE Computer Society Computing Conversations Podcast 1 None 594390
Doug Van Houweling on Building the NSFNet IEEE Computer Society Computing Conversations Podcast None None 773146
Computing Conversations: Nathaniel Borenstein on MIME IEEE Computer Society Computing Conversations Podcast None None 682135
You Don't Mess Around With Jim Jim Croce Classic Hits Folk None None 184398
Andrew S. Tanenbaum on MINIX IEEE Computer Society Computing Conversations Podcast None None 603000
Computing Conversations: Elizabeth Fong on SQL Standards IEEE Computer Society Computing Conversations Podcast None None 533577
Nii Quaynor on Bringing the Internet to Africa IEEE Computer Society Computing Conversations Podcast 1 None 673332
PHP-09-Transactions.mp3 Created by Sakai SI 664 W14's official Podcast. Podcast None None 1728888
PHP-01-Intro.mp3 Created by Sakai SI 664 W14's official Podcast. Podcast None None 2250624
PHP-02-Install.mp3 Created by Sakai SI 664 W14's official Podcast. Podcast 1 None None
PHP-04-Expressions.mp3 Created by Sakai SI 664 W14's official Podcast. Podcast None None 2168064
PHP-05-Functions.mp3 Created by Sakai SI 664 W14's official Podcast. Podcast None None 1446792
PHP-06-Strings.mp3 Created by Sakai SI 664 W14's official Podcast. Podcast None None 417696
PHP-12-Sessions.mp3 Created by Sakai SI 664 W14's official Podcast. Podcast None None 3624312
PHP-06-Objects.mp3 Created by Sakai SI 664 W14's official Podcast. Podcast None None 2455368
SI664-13-JSON-A.mp3 Created by Sakai SI 664 W14's official Podcast. Podcast None None 4407672
PHP-13-JavaScript.mp3 Created by Sakai SI 664 W14's official Podcast. Podcast None None 3650088
PHP-09-Database-Design.mp3 Created by Sakai SI 664 W14's official Podcast. Podcast None None 3591072
PHP-Tsugi-Install.mp3 Created by Sakai SI 664 W14's official Podcast. Podcast None None 3181656
PHP-10-MySQL-PDO.mp3 Created by Sakai SI 664 W14's official Podcast. Podcast None None 4536685

In [ ]:
#sqlite code:
SELECT Track.title, Artist.name, Album.title, Genre.name 
    FROM Track JOIN Genre JOIN Album JOIN Artist 
    ON Track.genre_id = Genre.ID and Track.album_id = Album.id 
        AND Album.artist_id = Artist.id
    ORDER BY Artist.name LIMIT 3

SQLite result:

1.   For Those About To Rock (We Salute You)
2.   Hells Bells
3.   Shake Your Foundations

Chapter15.8 (Week 4 Many students to many courses)

In [ ]:
import json
import sqlite3

conn = sqlite3.connect('rosterdb.sqlite')
cur = conn.cursor()

# Do some setup
cur.executescript('''
DROP TABLE IF EXISTS User;
DROP TABLE IF EXISTS Member;
DROP TABLE IF EXISTS Course;

CREATE TABLE User (
    id     INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
    name   TEXT UNIQUE
);

CREATE TABLE Course (
    id     INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
    title  TEXT UNIQUE
);

CREATE TABLE Member (
    user_id     INTEGER,
    course_id   INTEGER,
    role        INTEGER,
    PRIMARY KEY (user_id, course_id)
)
''')

fname = input('Enter file name: ')
if len(fname) < 1:
    fname = 'roster_data_sample.json'

# [
#   [ "Charley", "si110", 1 ],
#   [ "Mea", "si110", 0 ],

str_data = open(fname).read()
json_data = json.loads(str_data)

for entry in json_data:

    name = entry[0];
    title = entry[1];
    role = entry[2];

    print((name, title, role))

    cur.execute('''INSERT OR IGNORE INTO User (name)
        VALUES ( ? )''', ( name, ) )
    cur.execute('SELECT id FROM User WHERE name = ? ', (name, ))
    user_id = cur.fetchone()[0]

    cur.execute('''INSERT OR IGNORE INTO Course (title)
        VALUES ( ? )''', ( title, ) )
    cur.execute('SELECT id FROM Course WHERE title = ? ', (title, ))
    course_id = cur.fetchone()[0]

    cur.execute('''INSERT OR REPLACE INTO Member
        (user_id, course_id, role) VALUES ( ?, ?, ? )''',
        ( user_id, course_id, role ) )

    conn.commit()

Enter file name: roster_data.json
('Sahbian', 'si110', 1)
('Rosemary', 'si110', 0)
('Martha', 'si110', 0)
('Sylvana', 'si110', 0)
('Haley', 'si110', 0)
('Joyce', 'si110', 0)
('Karn', 'si110', 0)
('Marshall', 'si110', 0)
('Ambreen', 'si110', 0)
('Bintou', 'si110', 0)
('Ceitidh', 'si110', 0)
('Missy', 'si110', 0)
('Bailee', 'si110', 0)
('Muqadaas', 'si110', 0)
('Amrita', 'si110', 0)
('Neha', 'si110', 0)
('Kaidenn', 'si110', 0)
('Marcie', 'si110', 0)
('Soukina', 'si110', 0)
('Fizzah', 'si110', 0)
('Adwoa', 'si110', 0)
('Kenzi', 'si110', 0)
('Alessia', 'si110', 0)
('Salymat', 'si110', 0)
('Elissa', 'si110', 0)
('Eirian', 'si110', 0)
('Cailin', 'si110', 0)
('Anjolaoluwa', 'si110', 0)
('Wilson', 'si110', 0)
('Lylah', 'si110', 0)
('Laurianne', 'si110', 0)
('Debbie', 'si110', 0)
('Callyn', 'si110', 0)
('Marnie', 'si110', 0)
('Sicilija', 'si110', 0)
('Aleem', 'si110', 0)
('Mikolaj', 'si110', 0)
('Brad', 'si110', 0)
('Cayla', 'si110', 0)
('Caera', 'si110', 0)
('Derryne', 'si110', 0)
('Tjay', 'si110', 0)
('Reynold', 'si110', 0)
('Weronika', 'si110', 0)
('Annika', 'si110', 0)
('Ellyce', 'si110', 0)
('Rishi', 'si110', 0)
('Bianca', 'si110', 0)
('Kaelum', 'si110', 0)
('Keiryn', 'si110', 0)
('Kisha', 'si106', 1)
('Zara', 'si106', 0)
('Makenzie', 'si106', 0)
('Hector', 'si106', 0)
('Maksim', 'si106', 0)
('Naeema', 'si106', 0)
('Kate', 'si106', 0)
('Rubi', 'si106', 0)
('Richard', 'si106', 0)
('Rehanna', 'si106', 0)
('Kaylie', 'si106', 0)
('Lia', 'si106', 0)
('Kaeli', 'si106', 0)
('Vanya', 'si106', 0)
('Lawlyn', 'si106', 0)
('Anwen', 'si106', 0)
('Sali', 'si106', 0)
('Jazib', 'si106', 0)
('Shuni', 'si106', 0)
('Woyenbrakemi', 'si106', 0)
('Derry', 'si106', 0)
('Iria', 'si106', 0)
('Patricia', 'si106', 0)
('Chukwuemeka', 'si106', 0)
('Saffi', 'si106', 0)
('Feden', 'si106', 0)
('Precious', 'si106', 0)
('Oriane', 'si106', 0)
('Nidhish', 'si106', 0)
('Hadasah', 'si106', 0)
('Hope', 'si106', 0)
('Mallissaa', 'si106', 0)
('Sineidin', 'si106', 0)
('Karyn', 'si106', 0)
('Mea', 'si106', 0)
('Jole', 'si106', 0)
('Reuben', 'si106', 0)
('Roy', 'si106', 0)
('Saschamarie', 'si106', 0)
('Yazmin', 'si106', 0)
('Lorne', 'si106', 0)
('Uxia', 'si106', 0)
('Brianna', 'si106', 0)
('Kelsey', 'si106', 0)
('Amrit', 'si106', 0)
('Etinosa', 'si106', 0)
('Rihanna', 'si106', 0)
('Nodoka', 'si106', 0)
('Odhran', 'si206', 1)
('Devlyn', 'si206', 0)
('Toluwalase', 'si206', 0)
('Abdalroof', 'si206', 0)
('Lumi', 'si206', 0)
('Bryony', 'si206', 0)
('Jennifer', 'si206', 0)
('Unaiza', 'si206', 0)
('Muryam', 'si206', 0)
('Henry', 'si206', 0)
('Keiara', 'si206', 0)
('Shannon', 'si206', 0)
('Amanda', 'si206', 0)
('Joris', 'si206', 0)
('Umme', 'si206', 0)
('Cheyenne', 'si206', 0)
('Toby', 'si206', 0)
('Fara', 'si206', 0)
('Yorgos', 'si206', 0)
('Darla', 'si206', 0)
('Joaquin', 'si206', 0)
('Maryjane', 'si206', 0)
('Remo', 'si206', 0)
('Dakotah', 'si206', 0)
('Katey', 'si206', 0)
('Mae', 'si206', 0)
('Sol', 'si206', 0)
('Courtneylee', 'si206', 0)
('Miranda', 'si206', 0)
('Aymie', 'si206', 0)
('Wendy', 'si206', 0)
('Darach', 'si206', 0)
('Iyanuoluwa', 'si206', 0)
('Ariah', 'si206', 0)
('Keavan', 'si206', 0)
('Tess', 'si206', 0)
('Mackenzie', 'si206', 0)
('Holly', 'si206', 0)
('Lewin', 'si206', 0)
('Khyla', 'si206', 0)
('Jaay', 'si206', 0)
('Charlay', 'si206', 0)
('Coray', 'si206', 0)
('Evelyne', 'si206', 0)
('Evelyn', 'si206', 0)
('Kenzeigh', 'si206', 0)
('Jacki', 'si206', 0)
('Krystyna', 'si206', 0)
('Talya', 'si206', 0)
('Aiesha', 'si301', 1)
('Caelyn', 'si301', 0)
('Isma', 'si301', 0)
('Delilah', 'si301', 0)
('Wiktor', 'si301', 0)
('Himani', 'si301', 0)
('Tillie', 'si301', 0)
('Maliha', 'si301', 0)
('Cale', 'si301', 0)
('Abrar', 'si301', 0)
('Lokesh', 'si301', 0)
('Lenon', 'si301', 0)
('Laurie', 'si301', 0)
('Missy', 'si301', 0)
('Fiona', 'si301', 0)
('Cailyne', 'si301', 0)
('Gemmalea', 'si301', 0)
('Hazel', 'si301', 0)
('Sereen', 'si301', 0)
('Kharli', 'si301', 0)
('Lindsay', 'si301', 0)
('Hope', 'si301', 0)
('Sionan', 'si301', 0)
('Sakina', 'si301', 0)
('Joojo', 'si301', 0)
('Ellah', 'si301', 0)
('Limbiadhe', 'si301', 0)
('Giancarlo', 'si301', 0)
('Alysia', 'si301', 0)
('Saffron', 'si301', 0)
('Fion', 'si301', 0)
('Jayse', 'si301', 0)
('Tatiana', 'si301', 0)
('Maura', 'si301', 0)
('Sana', 'si301', 0)
('Corrie', 'si301', 0)
('Peebles', 'si301', 0)
('Sonni', 'si301', 0)
('Sherwyn', 'si301', 0)
('Kaidey', 'si301', 0)
('Abaigeal', 'si301', 0)
('Walid', 'si301', 0)
('Benjamyn', 'si301', 0)
('Manuel', 'si301', 0)
('Jaxson', 'si301', 0)
('Dalton', 'si301', 0)
('Hollee', 'si301', 0)
('Jonson', 'si301', 0)
('Nihal', 'si301', 0)
('Amirah', 'si301', 0)
('Umar', 'si301', 0)
('Liana', 'si310', 1)
('Ailee', 'si310', 0)
('Natividad', 'si310', 0)
('Neo', 'si310', 0)
('Kahlan', 'si310', 0)
('Gordon', 'si310', 0)
('Kayda', 'si310', 0)
('Okeoghene', 'si310', 0)
('Rihards', 'si310', 0)
('Bradan', 'si310', 0)
('Conlan', 'si310', 0)
('Keryn', 'si310', 0)
('Kati', 'si310', 0)
('Rafif', 'si310', 0)
('Rea', 'si310', 0)
('Vaila', 'si310', 0)
('Shantelle', 'si310', 0)
('Kaison', 'si310', 0)
('Shanelle', 'si310', 0)
('Sidra', 'si310', 0)
('Dennan', 'si310', 0)
('Fatimah', 'si310', 0)
('Eagann', 'si310', 0)
('Riagan', 'si310', 0)
('Dhyia', 'si310', 0)
('Khaya', 'si310', 0)
('Ramone', 'si310', 0)
('Luc', 'si310', 0)
('Katia', 'si310', 0)
('Tasha', 'si310', 0)
('Laura', 'si310', 0)
('Sanna', 'si310', 0)
('Karali', 'si310', 0)
('Sianade', 'si310', 0)
('Broghan', 'si310', 0)
('Charlay', 'si310', 0)
('Aara', 'si310', 0)
('Conner', 'si310', 0)
('Betsy', 'si310', 0)
('Mali', 'si310', 0)
('Arfin', 'si310', 0)
('Unity', 'si310', 0)
('Jaay', 'si310', 0)
('Keivlin', 'si310', 0)
('Arafat', 'si310', 0)
('Thomas', 'si310', 0)
('Ibraheem', 'si310', 0)
('Razan', 'si310', 0)
('Zeynep', 'si310', 0)
('Arandeep', 'si310', 0)
('Salsabeel', 'si310', 0)
('Alexx', 'si334', 1)
('Cormac', 'si334', 0)
('Rebbecca', 'si334', 0)
('Ruo', 'si334', 0)
('Melis', 'si334', 0)
('Keela', 'si334', 0)
('Teydren', 'si334', 0)
('Taira', 'si334', 0)
('Soma', 'si334', 0)
('Amani', 'si334', 0)
('Ker', 'si334', 0)
('Kristoffer', 'si334', 0)
('Denon', 'si334', 0)
('Alexina', 'si334', 0)
('Zaya', 'si334', 0)
('Aseel', 'si334', 0)
('Keerah', 'si334', 0)
('Kadie', 'si334', 0)
('Olurotimi', 'si334', 0)
('Rebbecah', 'si334', 0)
('Deni', 'si363', 1)
('Marshall', 'si363', 0)
('Jennie', 'si363', 0)
('Aidian', 'si363', 0)
('Marysia', 'si363', 0)
('Maren', 'si363', 0)
('Kameron', 'si363', 0)
('Miku', 'si363', 0)
('Airen', 'si363', 0)
('Anmolpreet', 'si363', 0)
('Athon', 'si363', 0)
('Khaya', 'si363', 0)
('Isobel', 'si363', 0)
('Makenzie', 'si363', 0)
('Chi', 'si363', 0)
('Rachel', 'si363', 0)
('Katerina', 'si363', 0)
('Shaunpaul', 'si363', 0)
('Samya', 'si363', 0)
('Aili', 'si363', 0)
('Armaan', 'si363', 0)
('Kimi', 'si363', 0)
('Madison', 'si363', 0)
('Kyie', 'si363', 0)
('Jumaimah', 'si363', 0)
('Hazel', 'si363', 0)
('Dorothy', 'si363', 0)
('Machaela', 'si363', 0)
('Rio', 'si363', 0)
('Indiana', 'si363', 0)
('Oluwateniolami', 'si363', 0)
('Badsha', 'si363', 0)
('Connall', 'si363', 0)
('Tyson', 'si363', 0)
('Wabuya', 'si363', 0)
('Suilven', 'si363', 0)
('Queenie', 'si363', 0)
('Deryn', 'si363', 0)
('Chanelle', 'si363', 0)
('Aamna', 'si363', 0)
('Ilyaas', 'si363', 0)
('Klaudia', 'si363', 0)
('Richie', 'si363', 0)
('Gemmalea', 'si363', 0)
('Keiren', 'si363', 0)
('Abbi', 'si363', 0)
('Tamzyn', 'si363', 0)
('Ciann', 'si363', 0)
('Hareem', 'si363', 0)
('Liv', 'si363', 0)
('Aayan', 'si364', 1)
('Kaelyn', 'si364', 0)
('Jordan', 'si364', 0)
('Enoghado', 'si364', 0)
('Liva', 'si364', 0)
('Gene', 'si364', 0)
('Kallan', 'si364', 0)
('Della', 'si364', 0)
('Jaiden', 'si364', 0)
('Jahy', 'si364', 0)
('Nevan', 'si364', 0)
('Cody', 'si364', 0)
('Una', 'si364', 0)
('Evangeline', 'si364', 0)
('Odynn', 'si364', 0)
('CJ', 'si364', 0)
('Alessio', 'si364', 0)
('Maitlind', 'si364', 0)
('Mykie', 'si364', 0)
('Promise', 'si364', 0)
('Tyson', 'si364', 0)
('Sharon', 'si364', 0)
('Sana', 'si364', 0)
('Lia', 'si364', 0)
('Jackson', 'si364', 0)
('Ruan', 'si364', 0)
('Murron', 'si364', 0)
('Orlando', 'si364', 0)
('Aaryan', 'si364', 0)
('Amaarah', 'si364', 0)
('Elissa', 'si364', 0)
('Ainslie', 'si422', 1)
('Asena', 'si422', 0)
('Amaarah', 'si422', 0)
('Luiza', 'si422', 0)
('Riley', 'si422', 0)
('Teghan', 'si422', 0)
('Bertie', 'si422', 0)
('Tanchoma', 'si422', 0)
('Jorgie', 'si422', 0)
('Shaughn', 'si422', 0)
('Tegen', 'si422', 0)
('Aminah', 'si422', 0)
('Hafsa', 'si422', 0)
('Inga', 'si422', 0)
('Oona', 'si422', 0)
('Amrita', 'si422', 0)
('Rhian', 'si422', 0)
('Olutobilola', 'si422', 0)
('Poppy', 'si422', 0)
('Avraham', 'si422', 0)
('Alva', 'si422', 0)
('Ruaridh', 'si430', 1)
('Alyth', 'si430', 0)
('Kalise', 'si430', 0)
('Meika', 'si430', 0)
('Naima', 'si430', 0)
('Rhein', 'si430', 0)
('Anais', 'si430', 0)
('Krzysiek', 'si430', 0)
('Mhirren', 'si430', 0)
('Carter', 'si430', 0)
('Lukas', 'si430', 0)
('Cuillin', 'si430', 0)
('Mohamad', 'si430', 0)
('Shafaq', 'si430', 0)
('Karali', 'si430', 0)
('Tyeghyn', 'si430', 0)
('Nikola', 'si430', 0)
('Sawdah', 'si430', 0)
('Seamus', 'si430', 0)
('Oran', 'si430', 0)
('Bryony', 'si430', 0)
('Dana', 'si430', 0)
('Eila', 'si430', 0)
('Eihli', 'si430', 0)
('Zhuo', 'si430', 0)
('Lilli', 'si430', 0)
('Emlyn', 'si430', 0)
('Barrie', 'si430', 0)
('Aedan', 'si430', 0)
('Toby', 'si430', 0)
('Jamielee', 'si430', 0)
('Reigan', 'si430', 0)
('Chandanpreet', 'si430', 0)
('Sabrina', 'si430', 0)
('Parwana', 'si430', 0)
('Isadora', 'si430', 0)
('Elias', 'si430', 0)
('Naimh', 'si430', 0)

In [ ]:
#SQLite Code:
SELECT 'XYZZY' || hex(User.name || Course.title || Member.role ) AS X FROM 
    User JOIN Member JOIN Course 
    ON User.id = Member.user_id AND Member.course_id = Course.id
    ORDER BY X LIMIT 1;

    #ans: XYZZY41616D6E61736933363330

Week 6 Databases and Visualization (peer-graded)

add your location coordinates into where.js

In [ ]:
myData = [40.80757481429435, -73.96037156194146，'Columbia University Teachers College, New York, NY 10027,USA']

2. Run 'geoload.py' at least twice, and obtain the result for the screenshot.

In [ ]:
import urllib.request, urllib.parse, urllib.error
import http
import sqlite3
import json
import time
import ssl
import sys

api_key = False
# If you have a Google Places API key, enter it here
# api_key = 'AIzaSy___IDByT70'

if api_key is False:
    api_key = 42
    serviceurl = "http://py4e-data.dr-chuck.net/json?"
else :
    serviceurl = "https://maps.googleapis.com/maps/api/geocode/json?"

# Additional detail for urllib
# http.client.HTTPConnection.debuglevel = 1

conn = sqlite3.connect('geodata.sqlite')
cur = conn.cursor()

cur.execute('''
CREATE TABLE IF NOT EXISTS Locations (address TEXT, geodata TEXT)''')

# Ignore SSL certificate errors
ctx = ssl.create_default_context()
ctx.check_hostname = False
ctx.verify_mode = ssl.CERT_NONE

fh = open("where.data")
count = 0
for line in fh:
    if count > 200 :
        print('Retrieved 200 locations, restart to retrieve more')
        break

    address = line.strip()
    print('')
    cur.execute("SELECT geodata FROM Locations WHERE address= ?",
        (memoryview(address.encode()), ))

    try:
        data = cur.fetchone()[0]
        print("Found in database ",address)
        continue
    except:
        pass

    parms = dict()
    parms["address"] = address
    if api_key is not False: parms['key'] = api_key
    url = serviceurl + urllib.parse.urlencode(parms)

    print('Retrieving', url)
    uh = urllib.request.urlopen(url, context=ctx)
    data = uh.read().decode()
    print('Retrieved', len(data), 'characters', data[:20].replace('\n', ' '))
    count = count + 1

    try:
        js = json.loads(data)
    except:
        print(data)  # We print in case unicode causes an error
        continue

    if 'status' not in js or (js['status'] != 'OK' and js['status'] != 'ZERO_RESULTS') :
        print('==== Failure To Retrieve ====')
        print(data)
        break

    cur.execute('''INSERT INTO Locations (address, geodata)
            VALUES ( ?, ? )''', (memoryview(address.encode()), memoryview(data.encode()) ) )
    conn.commit()
    if count % 10 == 0 :
        print('Pausing for a bit...')
        time.sleep(5)

print("Run geodump.py to read the data from the database so you can vizualize it on a map.")

Found in database  AGH University of Science and Technology

Found in database  Academy of Fine Arts Warsaw Poland

Found in database  American University in Cairo

Found in database  Arizona State University

Found in database  Athens Information Technology

Found in database  BITS Pilani

Found in database  Babcock University

Found in database  Banaras Hindu University

Found in database  Bangalore University

Found in database  Baylor University

Found in database  Beijing normal university

Found in database  Belarusian State University

Found in database  Belgrade University

Found in database  Beloit College

Found in database  Belorussian State University

Found in database  Ben Gurion University

Found in database  Bharthidasan University

Found in database  Boston University

Found in database  California Polytechnic State University of San Luis Obispo

Found in database  California State University San Bernardino

Found in database  City of Westminster College

Found in database  Columbia University

Found in database  Columbia University Teacher College

Found in database  Cranfield University

Found in database  Czech Technical University in Prague

Found in database  Dartmouth

Found in database  De Anza College

Found in database  Distant University of Hagen

Found in database  Dnipropetrovsk National University

Found in database  Dokuz Eylul University

Found in database  Drexel

Found in database  Drexel University and University of Texas at Austin

Found in database  Duke University

Found in database  EM Lyon

Found in database  Ecole centrale de PARIS

Found in database  Elon University

Found in database  Erhvervsakademi Sydvest

Found in database  Escuela Superior Politecnica del Litoral

Found in database  Fachhochschule Dusseldorf

Found in database  Fachhochschule FH Salzburg

Found in database  Faculdade de Tecnologia do Estado de Sao Paulo

Found in database  Faculty of Technical Sciences Novi Sad Serbia

Found in database  Farmingdale State University

Found in database  Federal University of Minas Gerais

Found in database  Florida Atlantic University

Found in database  Franklin Pierce College

Found in database  Gauhati University

Found in database  George Mason University

Found in database  Georgetown University Law Center

Found in database  Georgia State University

Found in database  Grandville

Found in database  Groep T University

Found in database  Hanoi University of Science and Technology

Found in database  Hebrew University

Found in database  IIIT Hyderabad

Found in database  IIT KANPUR

Found in database  IT College of Estonia

Found in database  IU

Found in database  IUAV Venezia

Found in database  Illinois Institute of Technology

Found in database  Illinois State University Joliet Junior College

Found in database  Indian Institute of Technology

Found in database  Indian Institute of Technology Kharagpur India

Found in database  Indian School of Mines Dhanbad

Found in database  Indiana University

Found in database  Indiana University at Bloomington

Found in database  Institut Superieur de technologies

Found in database  Institute of Business and Modern Technologies

Found in database  Instituto Tecnologico de Santo Domingo

Found in database  International Institute of Information Technology Hyderabad

Found in database  Irkutsk State University

Found in database  JADAVPUR UNIVERSITY

Found in database  Jawaharlal Nehru Technological University

Found in database  Jawaharlal Nehru University

Found in database  Jordan University of Science and Technology

Found in database  K-State

Found in database  KUL

Found in database  Kalamazoo College

Found in database  Kaunas Technology University

Found in database  Kaunas university of technology

Found in database  Kazan Federal University

Found in database  Kent State University

Found in database  Kharkiv State Academy of Municipal Economy Ukraine

Found in database  King Mongkuts University of Technology Thonburi

Found in database  Kokshetau Institute of Economics and Management

Found in database  Kyiv Polytechnic Institute

Found in database  Kyiv Polytechnical Institute

Found in database  Kyiv Unisersity of Oriental Language

Found in database  Laurentian University

Found in database  Lisandro Alvarado

Found in database  Lodz University of Technology

Found in database  Lviv University

Found in database  MSU

Found in database  Madras university

Found in database  Magnitogorsk State Technical University

Found in database  Malayer Azad University

Found in database  Marietta College

Found in database  Masdar Institute

Found in database  Matematicki fakultet Beograd

Found in database  Michigan State University

Found in database  Middle East Technical University

Found in database  Missouri University of Science and Technology

Found in database  Monash

Found in database  Monash University

Found in database  Monash University Churchill Australia

Found in database  Monterrey Institute of Technology and Higher Education

Found in database  Moscow Engineering-Physics Institute

Found in database  Moscow Institute of Physics & Technology

Found in database  Moscow State University

Found in database  NIT ROURKELA

Found in database  NYU

Found in database  Nagpur University

Found in database  Nanyang Technological University

Found in database  National Institute of Technology Jalandhar

Found in database  National Taiwan University

Found in database  National University of Engineering

Found in database  North Central College

Found in database  Northeastern University

Found in database  Northwestern University

Found in database  Obninsk Technical University of Nuclear Power Engineering Russia

Found in database  Old Dominion University

Found in database  Oregon Institute of Technology

Found in database  PUCMM

Found in database  Payame Noor University

Found in database  Penn State University

Found in database  Politecnico di Milano

Found in database  Politehnica University Bucharest

Found in database  Polytechnic University of Timisoara

Found in database  Pondicherry University

Found in database  Pontificia universidad catolica de chile

Found in database  Portland State University

Found in database  Purdue University Indianapolis

Found in database  R V College of Engineering

Found in database  RPI

Found in database  Ramapo College of New Jersey

Found in database  Rochester Institute of Technology

Found in database  SASTRA University

Found in database  Saint Petersburg State University

Found in database  Saint Petersburg State University of Aerospace Instrumentation

Found in database  Saint-Petersburg Polytechnic Univesity

Found in database  San Francisco State University

Found in database  San Jose State University

Found in database  Shanghai Jiao Tong University

Found in database  Sharif University of Technology

Found in database  Simon Bolivar University

Found in database  Simon Fraser University

Found in database  Smolensk State University

Found in database  Sonoma State University

Found in database  South Federal University

Found in database  Spiru Haret University

Found in database  Stanford

Found in database  State University of Campinas

Found in database  State University of New York College at Oswego

Found in database  Stellenbosch University

Found in database  Stonehill College

Found in database  Tallinn University

Found in database  Tallinn University of Technology

Found in database  Tampere University of Technology

Found in database  Tanta University

Found in database  Tarrant County College

Found in database  Technical University of Cluj-Napoca

Found in database  Technion

Found in database  Tel Aviv University

Found in database  The Jerusalem collage of engineering

Found in database  The University of Latvia

Found in database  The University of Manchester

Found in database  The University of South Africa

Found in database  Transilvania University

Found in database  Tufts University

Found in database  UC Berkeley

Found in database  UCLA

Found in database  UCSD

Found in database  UIUC

Found in database  UMD

Found in database  UNISA

Found in database  UNIVERSIDAD DE Buenos Aires

Found in database  UOC

Found in database  USC

Found in database  UW Madison

Found in database  Universidad Central de Venezuela

Found in database  Universidad Complutense de Madrid

Found in database  Universidad Cooperativa de Colombia

Found in database  Universidad Nacional Autonoma de Mexico

Found in database  Universidad Nacional Costa Rica

Found in database  Universidad Nacional de Colombia

Found in database  Universidad Tecnologica Boliviana

Found in database  Universidad de Buenos Aires

Found in database  Universidad de Castilla La Mancha

Found in database  Universidad de Los Andes Colombia

Found in database  Universidad de Oriente

Found in database  Universidad de San Carlos de Guatemala

Found in database  Universidad de Valladolid

Found in database  Universidad de la Sabana

Found in database  Universidad del Valle de Guatemala

Found in database  Universidade Federal da Paraiba

Found in database  Universidade Federal de Santa Catarina

Found in database  Universidade Federal do Rio Grande do Sul

Found in database  Universidade Federal do Rio de Janeiro

Found in database  Universidade Tecnica de Lisboa

Found in database  Universidade de Sao Paulo

Found in database  Universidade do Minho

Retrieving http://py4e-data.dr-chuck.net/json?address=Universitas+Gadjah+Mada&key=42
Retrieved 2332 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=Universitat+Politecnica+de+Valencia&key=42
Retrieved 2104 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=Universite+Catholique+de+Louvain&key=42
Retrieved 2441 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+College+Dublin&key=42
Retrieved 1700 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+Munich&key=42
Retrieved 2540 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Akron&key=42
Retrieved 2114 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Alberta&key=42
Retrieved 1825 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Amsterdam&key=42
Retrieved 2060 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Arkansas&key=42
Retrieved 1826 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Athens&key=42
Retrieved 1634 characters {    "results" : [
Pausing for a bit...

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Belgrade&key=42
Retrieved 1979 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Birmingham&key=42
Retrieved 1635 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Buenos+Aires&key=42
Retrieved 2163 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Cambridge&key=42
Retrieved 2125 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Central+Oklahoma&key=42
Retrieved 2272 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Chicago&key=42
Retrieved 2466 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Cincinnati&key=42
Retrieved 2301 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Colorado+at+Boulder&key=42
Retrieved 1803 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Connecticut&key=42
Retrieved 1794 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Dallas&key=42
Retrieved 2293 characters {    "results" : [
Pausing for a bit...

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Debrecen&key=42
Retrieved 1744 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Delaware&key=42
Retrieved 1802 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Erlangen-Nuremberg&key=42
Retrieved 2278 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Essex&key=42
Retrieved 2005 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Evora&key=42
Retrieved 1962 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Florida&key=42
Retrieved 1814 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Gothenburg&key=42
Retrieved 1998 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Greifswald&key=42
Retrieved 2173 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Hamburg&key=42
Retrieved 1990 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Hawaii&key=42
Retrieved 2456 characters {    "results" : [
Pausing for a bit...

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Helsinki&key=42
Retrieved 1733 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Ilorin+Kwara+State&key=42
Retrieved 1955 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Jaffna&key=42
Retrieved 2048 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Kansas&key=42
Retrieved 2129 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Kerala&key=42
Retrieved 2329 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+London&key=42
Retrieved 2110 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Malaga&key=42
Retrieved 2112 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Malaya&key=42
Retrieved 1994 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Manchester&key=42
Retrieved 1977 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Michigan&key=42
Retrieved 2281 characters {    "results" : [
Pausing for a bit...

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Missouri+-+Columbia&key=42
Retrieved 1814 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Moratuwa&key=42
Retrieved 2024 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Mumbai&key=42
Retrieved 2403 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Nebraska&key=42
Retrieved 2107 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Nebraska+-+Lincoln&key=42
Retrieved 2107 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+New+Haven&key=42
Retrieved 2152 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+New+South+Wales&key=42
Retrieved 1817 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Notre+Dame&key=42
Retrieved 2008 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Oklahoma&key=42
Retrieved 2129 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Ottawa&key=42
Retrieved 2298 characters {    "results" : [
Pausing for a bit...

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Oxford&key=42
Retrieved 1783 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Padua&key=42
Retrieved 2309 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Pavia+Italy&key=42
Retrieved 2309 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Pennsylvania&key=42
Retrieved 1841 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Piraeus+Athens&key=42
Retrieved 1949 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Pretoria&key=42
Retrieved 2231 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Salamanca&key=42
Retrieved 1818 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Sao+Paulo&key=42
Retrieved 1710 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Sarajevo&key=42
Retrieved 2246 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Southern+California&key=42
Retrieved 2008 characters {    "results" : [
Pausing for a bit...

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Stellenbosch&key=42
Retrieved 1912 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Tartu&key=42
Retrieved 1585 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Tehran&key=42
Retrieved 1679 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Texas&key=42
Retrieved 1798 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Texas+at+Austin&key=42
Retrieved 1798 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Toronto&key=42
Retrieved 2341 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Tuebingen&key=42
Retrieved 2188 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Twente&key=42
Retrieved 2134 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Utah&key=42
Retrieved 2149 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Vienna&key=42
Retrieved 2303 characters {    "results" : [
Pausing for a bit...

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Warsaw&key=42
Retrieved 2352 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Washington&key=42
Retrieved 52 characters {    "results" : [],

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Washington+-+Bothell&key=42
Retrieved 2298 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Waterloo&key=42
Retrieved 2175 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+West+Florida&key=42
Retrieved 2368 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Wisconsin&key=42
Retrieved 1646 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+the+Punjab+Lahore&key=42
Retrieved 2271 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+the+Witwatersrand&key=42
Retrieved 2439 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=Vilnius+Gediminas+Technical+University&key=42

3. Run 'geodump.py' to obtain the detailed address information.

In [ ]:
import sqlite3
import json
import codecs

conn = sqlite3.connect('geodata.sqlite')
cur = conn.cursor()

cur.execute('SELECT * FROM Locations')
fhand = codecs.open('where.js', 'w', "utf-8")
fhand.write("myData = [\n")
count = 0
for row in cur :
    data = str(row[1].decode())
    try: js = json.loads(str(data))
    except: continue

    if not('status' in js and js['status'] == 'OK') : continue

    lat = js["results"][0]["geometry"]["location"]["lat"]
    lng = js["results"][0]["geometry"]["location"]["lng"]
    if lat == 0 or lng == 0 : continue
    where = js['results'][0]['formatted_address']
    where = where.replace("'", "")
    try :
        print(where, lat, lng)

        count = count + 1
        if count > 1 : fhand.write(",\n")
        output = "["+str(lat)+","+str(lng)+", '"+where+"']"
        fhand.write(output)
    except:
        continue

fhand.write("\n];\n")
cur.close()
fhand.close()
print(count, "records written to where.js")
print("Open where.html to view the data in a browser")

aleja Adama Mickiewicza 30, 30-059 Kraków, Poland 50.06688579999999 19.9136192
Krakowskie Przedmieście 5, 00-068 Warszawa, Poland 52.2394019 21.0150792
AUC Avenue، Road، New Cairo 1, Cairo Governorate 11835, Egypt 30.0186205 31.5014854
Arizona, USA 34.0489281 -111.0937311
Monumental Plaza, Building C, 1st Floor, Leof. Kifisias 44, Marousi 151 25, Greece 38.0399391 23.8030901
Vidya Vihar, Pilani, Rajasthan 333031, India 28.3588163 75.58802039999999
121103, Ilishan-Remo, Nigeria 6.891986300000001 3.7181286
Ajagara, Varanasi, Uttar Pradesh 221005, India 25.2677203 82.99125819999999
Mysore Rd, Jnana Bharathi, Bengaluru, Karnataka 560056, India 12.9504048 77.5020617
1311 S 5th St, Waco, TX 76706, USA 31.5484359 -97.1106777
19 Xin Wai Da Jie, Beitaipingzhuang, Hai Dian Qu, Bei Jing Shi, China, 100875 39.9619537 116.3662615
prasp. Niezaliežnasci 4, Minsk, Belarus 53.8930049 27.545623
Studentski trg 1, Beograd, Serbia 44.8184518 20.4575913
700 College St, Beloit, WI 53511, USA 42.5030333 -89.0309048
prasp. Niezaliežnasci 4, Minsk, Belarus 53.8930049 27.545623
David Ben Gurion Blvd 1, Beer Sheva, Israel 31.261426 34.7995546
Palkalaiperur, Tiruchirappalli, Tamil Nadu 620024, India 10.6779085 78.74454879999999
Boston, MA 02215, USA 42.3504997 -71.1053991
San Luis Obispo, CA 93407, USA 35.3050053 -120.6624942
5500 University Pkwy, San Bernardino, CA 92407, USA 34.1813584 -117.3231875
25 Paddington Grn, London W2 1NB, UK 51.5210416 -0.1746649
New York, NY 10027, USA 40.8075355 -73.9625727
525 W 120th St, New York, NY 10027, USA 40.8101571 -73.9604571
College Rd, Cranfield, Wharley End, Bedford MK43 0AL, UK 52.0740377 -0.6282057
166 36 Prague 6, Czechia 50.1030364 14.3912841
Hanover, NH 03755, USA 43.7044406 -72.2886934
21250 Stevens Creek Blvd, Cupertino, CA 95014, USA 37.3192806 -122.0447919
Universitätsstraße 11, 58097 Hagen, Germany 51.3769424 7.4946354
Haharina Ave, 72, Dnipropetrovsk, Dnipropetrovska oblast, Ukraine, 49000 48.4331922 35.0427966
No: 144 35210, Alsancak, Cumhuriyet Blv, 35220 Konak/İzmir, Turkey 38.430691 27.13692
3141 Chestnut St, Philadelphia, PA 19104, USA 39.9566127 -75.18994409999999
Austin, TX, USA 30.267153 -97.7430608
Durham, NC 27708, USA 36.0014258 -78.9382286
23 Av. Guy de Collongue, 69130 Écully, France 45.7864448 4.7641329
CentraleSupélec, 3 Rue Joliot Curie, 91190 Gif-sur-Yvette, France 48.709445 2.1661629
Elon, NC, USA 36.1007034 -79.5066248
Alsion 4, 6400 Sønderborg, Denmark 54.9134537 9.7780196
Vía Perimetral 5, Guayaquil, Ecuador -2.1480702 -79.9644896
Münsterstraße 156, 40476 Düsseldorf, Germany 51.24683899999999 6.7916647
Urstein S 1, 5412 Salzburg, Austria 47.7233835 13.0871253
Av. Pereira Barreto, 400 - Vila Baeta Neves - Centro, São Bernardo do Campo - SP, 09751-000, Brazil -23.6956191 -46.5469041
Trg Dositeja Obradovića 6, Novi Sad 106314, Serbia 45.2461012 19.8516968
2350 NY-110, Farmingdale, NY 11735, USA 40.7529167 -73.4266988
Av. Pres. Antônio Carlos, 6627 - Pampulha, Belo Horizonte - MG, 31270-901, Brazil -19.870682 -43.9677359
777 Glades Rd, Boca Raton, FL 33431, USA 26.3749876 -80.10106329999999
40 University Dr, Rindge, NH 03461, USA 42.7789743 -72.05553929999999
Gopinath Bordoloi Nagar, Jalukbari, Guwahati, Assam 781014, India 26.1540389 91.66296679999999
4400 University Dr, Fairfax, VA 22030, USA 38.8298118 -77.3073606
600 New Jersey Ave NW, Washington, DC 20001, USA 38.8977953 -77.0129087
Atlanta, GA 30302, USA 33.753068 -84.38528190000001
Grandville, MI, USA 42.9097484 -85.7630885
Andreas Vesaliusstraat 13, 3000 Leuven, Belgium 50.87485419999999 4.7077677
1 Đại Cồ Việt, Bách Khoa, Hai Bà Trưng, Hà Nội, Vietnam 21.0070253 105.843136
Jerusalem 31.7945578 35.2414009
Professor CR Rao Rd, Gachibowli, Hyderabad, Telangana 500032, India 17.4448649 78.34981379999999
Kalyanpur, Kanpur, Uttar Pradesh 208016, India 26.5123388 80.2329
Estonia 58.595272 25.013607
107 S Indiana Ave, Bloomington, IN 47405, USA 39.1784384 -86.5133166
Santa Croce, 191, 30135 Venezia VE, Italy 45.4377574 12.3223297
10 W 35th St, Chicago, IL 60616, USA 41.8348731 -87.6270059
100 N University St, Normal, IL 61761, USA 40.5116781 -88.9926996
Indian Institute Of Technology, Chennai, Tamil Nadu, India 12.9915639 80.2336857
Kharagpur, West Bengal 721302, India 22.3149274 87.31053109999999
Police Line Road, Main Campus IIT (ISM, near Rani Bandh, IIT (ISM, Hirapur, Sardar Patel Nagar, Dhanbad, Jharkhand 826004, India 23.8142953 86.44118069999999
107 S Indiana Ave, Bloomington, IN 47405, USA 39.1784384 -86.5133166
107 S Indiana Ave, Bloomington, IN 47405, USA 39.1784384 -86.5133166
Av. de los Próceres 49, Santo Domingo 10602, Dominican Republic 18.4880037 -69.96249499999999
Professor CR Rao Rd, Gachibowli, Hyderabad, Telangana 500032, India 17.4448649 78.34981379999999
Ulitsa Karla Marksa, 1, Irkutsk, Irkutskaya oblast, Russia, 664003 52.2766643 104.2777445
132, Raja Subodh Chandra Mallick Rd, Jadavpur, Kolkata, West Bengal 700032, India 22.4988145 88.3714449
F9VR+8H2, Ashok Nagar, Kukatpally Housing Board Colony, Kukatpally, Hyderabad, Telangana 500085, India 17.4932682 78.3913929
New Mehrauli Road, JNU Ring Rd, New Delhi, Delhi 110067, India 28.5398035 77.1664047
3030, الرمثا، Jordan 32.4950392 35.9912257
Manhattan, KS 66506, USA 39.1974437 -96.5847249
Kuala Lumpur, Federal Territory of Kuala Lumpur, Malaysia 3.139003 101.686855
1200 Academy St, Kalamazoo, MI 49006, USA 42.290035 -85.598145
K. Donelaičio g. 73, Kaunas 44249, Lithuania 54.898991 23.912825
K. Donelaičio g. 73, Kaunas 44249, Lithuania 54.898991 23.912825
ulitsa Kremlevskaya, 18, Kazan, Respublika Tatarstan, Russia, 420008 55.790447 49.1214348
800 E Summit St, Kent, OH 44240, USA 41.1444574 -81.3341264
Marshala Bazhanova St, 17, Kharkiv, Kharkivska oblast, Ukraine, 61002 49.9953019 36.2412463
126 Thanon Pracha Uthit, Khwaeng Bang Mot, Khet Thung Khru, Krung Thep Maha Nakhon 10140, Thailand 13.6512522 100.4964428
Kokshetau 020000, Kazakhstan 53.2871307 69.40444939999999
Peremohy Ave, 37, Kyiv, Ukraine, 03056 50.4488974 30.456977
Peremohy Ave, 37, Kyiv, Ukraine, 03056 50.4488974 30.456977
Kyiv, Ukraine, 02000 50.4501 30.5234
935 Ramsey Lake Rd, Greater Sudbury, ON P3E 2C6, Canada 46.4672485 -80.9757296
Stefana Żeromskiego 116, 90-924 Łódź, Poland 51.7537146 19.4517176
Lviv, Lviv Oblast, Ukraine, 79000 49.839683 24.029717
Michigan, USA 42.701848 -84.4821719
Navalar Nagar, Chepauk, Triplicane, Chennai, Tamil Nadu 600005, India 13.0660293 80.28317190000001
Lenin Ave, 38, Magnitogorsk, Chelyabinskaya oblast, Russia, 455000 53.42119599999999 58.98193999999999
Hamadan Province, Malayer, جاده سلامت، 8R7H+5CM, Iran 34.3129573 48.8285422
215 5th St, Marietta, OH 45750, USA 39.4164811 -81.4498947
Studentski trg 16, Beograd 105104, Serbia 44.8199188 20.4587075
Michigan, USA 42.701848 -84.4821719
Üniversiteler, Dumlupınar Blv. 1/6 D:133, 06800 Çankaya/Ankara, Turkey 39.88983820000001 32.780086
106, Parker Hall, 300 W 13th St, Rolla, MO 65409, USA 37.9537078 -91.7756271
City of Monash, VIC, Australia -37.9015913 145.1155133
Wellington Rd, Clayton VIC 3800, Australia -37.9145125 145.1349971
1 Northways Rd, Churchill VIC 3842, Australia -38.3090975 146.4255391
Av. Eugenio Garza Sada 2501 Sur, Tecnológico, 64849 Monterrey, N.L., Mexico 25.6515649 -100.28954
Kashira Hwy, 31, Moskva, Russia, 115409 55.6502051 37.6643098
Institutskiy Pereulok, 9, Dolgoprudny, Moskovskaya oblast, Russia, 141701 55.9297243 37.5199434
ul. Leninskiye Gory, 1, Moskva, Russia, 119991 55.70393490000001 37.5286695
7W32+69H, National Institute of Technology, Sector 1, Rourkela, Odisha 769008, India 22.2530656 84.9009808
New York, NY 10012, USA 40.72951339999999 -73.9964609
42XQ+4RW, Amravati Rd, Gokulpeth, Nagpur, Maharashtra 440033, India 21.1478747 79.03957199999999
50 Nanyang Ave, Singapore 639798 1.3483099 103.6831347
Grand Trunk Road, Barnala - Amritsar Bypass Rd, Jalandhar, Punjab 144011, India 31.3958746 75.5358439
No. 1, Section 4, Roosevelt Rd, Da’an District, Taipei City, Taiwan 10617 25.0173405 121.5397518
Av. Túpac Amaru 210, Rímac 15333, Peru -12.0231787 -77.04763009999999
30 N Brainard St, Naperville, IL 60540, USA 41.772663 -88.1440142
360 Huntington Ave, Boston, MA 02115, USA 42.3398067 -71.0891717
633 Clark St, Evanston, IL 60208, USA 42.0564594 -87.67526699999999
Obninsk, Kaluga Oblast, Russia, 249034 55.13719099999999 36.607059
5115 Hampton Blvd, Norfolk, VA 23529, USA 36.8853052 -76.3058746
3201 Campus Dr, Klamath Falls, OR 97601, USA 42.2573474 -121.7849109
Autopista Duarte Km 1 1/2, Santiago De Los Caballeros 51000, Dominican Republic 19.4436005 -70.6843785
Tehran Province, Tehran, اتوبان ارتش کوی نفت, Nakhl St, RG23+F4X, Iran 35.8012314 51.5028533
State College, PA 16801, USA 40.7982133 -77.8599084
Splaiul Independenței 313, București 060042, Romania 44.4386064 26.0494925
Piața Victoriei 2, Timișoara 300006, Romania 45.7536393 21.2251614
Pondicherry University, Chinna Kalapet, Kalapet, Puducherry 605014, India 12.0182619 79.8568461
Av Libertador Bernardo OHiggins 340, Santiago, 8331150, Región Metropolitana, Chile -33.44180680000001 -70.6399544
1825 SW Broadway, Portland, OR 97201, USA 45.5111153 -122.6833383
Indianapolis, IN, USA 39.768403 -86.158068
Mysore Rd, RV Vidyaniketan, Post, Bengaluru, Karnataka 560059, India 12.9237228 77.4987012
110 8th St, Troy, NY 12180, USA 42.7297628 -73.67888839999999
505 Ramapo Valley Rd, Mahwah, NJ 07430, USA 41.0815852 -74.17610150000002
1 Lomb Memorial Dr, Rochester, NY 14623, USA 43.0849643 -77.671866
Trichy-Tanjore Road, Thirumalaisamudram, Thanjavur, Tamil Nadu 613401, India 10.7285131 79.0184111
University Embankment, 7/9, Sankt-Peterburg, Russia, 199034 59.941894 30.2989198
Bolshaya Morskaya Ulitsa, 67, Sankt-Peterburg, Russia, 190000 59.929491 30.296608
Politekhnicheskaya Ulitsa, 29, Sankt-Peterburg, Russia, 195251 60.0076235 30.3731954
1600 Holloway Ave, San Francisco, CA 94132, USA 37.7241492 -122.4799405
1 Washington Sq, San Jose, CA 95192, USA 37.3351874 -121.8810715
China, Shang Hai Shi, Min Hang Qu, 老闵行东川路 邮政编码: 200240 31.0252201 121.4337784
Tehran, Azadi Ave, P932+FM4, Iran 35.7036491 51.3517033
Sartenejas, Caracas, Miranda, Venezuela 10.408363 -66.8755735
8888 University Dr, Burnaby, BC V5A 1S6, Canada 49.2780937 -122.9198833
Ulitsa Przhevalskogo, 4, Smolensk, Smolenskaya oblast, Russia, 214000 54.7845032 32.0452469
1801 E Cotati Ave, Rohnert Park, CA 94928, USA 38.3409222 -122.6730677
ул, Bolshaya Sadovaya Ulitsa, 105/42, Rostov, Rostovskaya oblast, Russia, 344006 47.224719 39.7283339
Strada Ion Ghica 13, București 030045, Romania 44.4331403 26.1012535
450 Serra Mall, Stanford, CA 94305, USA 37.4274745 -122.169719
Cidade Universitária Zeferino Vaz - Barão Geraldo, Campinas - SP, 13083-970, Brazil -22.8184393 -47.0647206
Oswego, NY, USA 43.4553461 -76.5104973
Stellenbosch Central, Stellenbosch, South Africa -33.9328078 18.864447
320 Washington St, North Easton, MA 02357, USA 42.058162 -71.08080029999999
Narva mnt 25, 10120 Tallinn, Estonia 59.4387321 24.7713836
Ehitajate tee 5, 12616 Tallinn, Estonia 59.3959451 24.6710596
Korkeakoulunkatu 7, 33720 Tampere, Finland 61.4498286 23.8589986
QXRX+XMC، الجيش، Tanta Qism 2, Tanta, Gharbia Governorate, Egypt 30.7924391 30.9991409
300 Trinity Campus Circle, Fort Worth, TX 76102, USA 32.7474661 -97.3278753
Strada Memorandumului 28, Cluj-Napoca 400114, Romania 46.769299 23.585613
Haifa, 3200003, Israel 32.7767783 35.0231271
Tel Aviv-Yafo, Israel 32.1133141 34.8043877
Velachery Rd, Narayanapuram, Pallikaranai, Chennai, Tamil Nadu 600100, India 12.9456381 80.2077491
Raiņa bulvāris 19, Centra rajons, Rīga, LV-1586, Latvia 56.95080979999999 24.1163132
Oxford Rd, Manchester M13 9PL, UK 53.4668498 -2.2338837
Preller St, Muckleneuk, Pretoria, 0002, South Africa -25.7676604 28.1992624
Bulevardul Eroilor 29, Brașov 500036, Romania 45.645235 25.5891363
419 Boston Ave, Medford, MA 02155, USA 42.4085371 -71.1182729
Berkeley, CA, USA 37.8718992 -122.2585399
Los Angeles, CA 90095, USA 34.068921 -118.4451811
9500 Gilman Dr, La Jolla, CA 92093, USA 32.8800604 -117.2340135
Champaign, IL, USA 40.1019523 -88.2271615
College Park, MD 20742, USA 38.9869183 -76.9425543
Preller St, Muckleneuk, Pretoria, 0002, South Africa -25.7676604 28.1992624
Viamonte 430, C1053 CABA, Argentina -34.5998875 -58.37306949999999
Rambla del Poblenou, 156, 08018 Barcelona, Spain 41.4065636 2.1945816
Los Angeles, CA 90007, USA 34.0223519 -118.285117
Madison, WI, USA 43.076592 -89.4124875
Facultad de Ciencias, UCV, Caracas 1040, Distrito Capital, Venezuela 10.4869942 -66.894094
Av. Séneca, 2, 28040 Madrid, Spain 40.4454368 -3.7299424
Av. Universidad 3004, Col, Copilco Universidad, Coyoacán, 04510 Ciudad de México, CDMX, Mexico 19.3365296 -99.1886248
Avenida 1, Calle 9 Heredia 86 Heredia, Heredia, 40101, Costa Rica 9.9987964 -84.11147489999999
Cra 45, Bogotá, Colombia 4.6381938 -74.08404639999999
C. Colombia 154, La Paz, Bolivia -16.5005605 -68.1342962
Viamonte 430, C1053 CABA, Argentina -34.5998875 -58.37306949999999
Rectorado UCLM, C. Altagracia, 50, 13001 Ciudad Real, Cdad. Real, Spain 38.9934998 -3.9254365
Cra. 1 #18a-12, Bogotá, Cundinamarca, Colombia 4.601458099999999 -74.0661334
Universidad de Oriente, Av. 21 Ote. 1816, Zona Sin Asignación de Nombre de Col 39, Azcarate, 72501 Puebla, Pue., Mexico 19.0303925 -98.1903494
HCPW+WMC, 11 Avenida, Cdad. de Guatemala 01012, Guatemala 14.5873005 -90.55336129999999
C/Plaza de Santa Cruz, 8, 47002 Valladolid, Spain 41.6569271 -4.7140547
Chía, Cundinamarca, Colombia 4.855814899999999 -74.0417628
18 Avenida 11-95 Guatemala, Cdad. de Guatemala 01015, Guatemala 14.603762 -90.48924799999999
Campus I Lot. Cidade Universitaria - Castelo Branco, João Pessoa - PB, 58051-900, Brazil -7.137748500000001 -34.8458974
State of Santa Catarina, Brazil -26.928572 -49.36531489999999
Farroupilha, Porto Alegre - RS, 90040-040, Brazil -30.0338389 -51.2189074
Av. Pedro Calmon, 550 - Cidade Universitária da Universidade Federal do Rio de Janeiro, Rio de Janeiro - RJ, 21941-901, Brazil -22.8625345 -43.2234737
Lisbon, Portugal 38.7222524 -9.1393366
Butanta, São Paulo - State of São Paulo, Brazil -23.5613991 -46.7307891
R. da Universidade, 4710-057 Braga, Portugal 41.5607319 -8.3962368
Bulaksumur, Caturtunggal, Kec. Depok, Kabupaten Sleman, Daerah Istimewa Yogyakarta 55281, Indonesia -7.7713847 110.3774998
Camí de Vera, s/n, 46022 València, Valencia, Spain 39.4808377 -0.3409521
Pl. de lUniversité 1, 1348 Ottignies-Louvain-la-Neuve, Belgium 50.6696767 4.615875
University College Dublin, Belfield, Dublin 4, Ireland 53.3064642 -6.2254879
Geschwister-Scholl-Platz 1, 80539 München, Germany 48.1504165 11.5805468
302 E Buchtel Ave, Akron, OH 44325, USA 41.0770227 -81.5114462
116 St & 85 Ave, Edmonton, AB T6G 2R3, Canada 53.5232189 -113.5263186
1012 WX Amsterdam, Netherlands 52.35581819999999 4.955726299999999
Fayetteville, AR 72701, USA 36.0686895 -94.1748471
Athens 157 72, Greece 37.968196 23.7786871
Studentski trg 1, Beograd, Serbia 44.8184518 20.4575913
Birmingham, UK 52.4508168 -1.9305135
Viamonte 430, C1053 CABA, Argentina -34.5998875 -58.37306949999999
The Old Schools, Trinity Ln, Cambridge CB2 1TN, UK 52.205356 0.113168
100 N University Dr, Edmond, OK 73034, USA 35.657506 -97.4709491
5801 S Ellis Ave, Chicago, IL 60637, USA 41.7886079 -87.5987133
2600 Clifton Ave, Cincinnati, OH 45221, USA 39.1329219 -84.51495039999999
Boulder, CO 80309, USA 40.00758099999999 -105.2659417
Storrs, CT 06269, USA 41.8077414 -72.2539805
1845 E Northgate Dr, Irving, TX 75062, USA 32.8449929 -96.9186842
Debrecen, Egyetem tér 1, 4032 Hungary 47.5536257 21.6215102
Newark, DE 19716, USA 39.6779504 -75.7506114
Schloßplatz 4, 91054 Erlangen, Germany 49.5978804 11.0045507
Wivenhoe Park, Colchester CO4 3SQ, UK 51.87772589999999 0.9472069000000001
Largo dos Colegiais 2, 7004-516 Évora, Portugal 38.572984 -7.905253999999999
Gainesville, FL 32611, USA 29.6436325 -82.3549302
405 30 Gothenburg, Sweden 57.6981719 11.971878
Domstraße 11, 17489 Greifswald, Germany 54.0949653 13.374584
20146 Hamburg, Germany 53.5665641 9.984619499999999
Spalding Hall, 2540 Maile Way, Honolulu, HI 96822, USA 21.3008904 -157.8173481
Yliopistonkatu 4, 00100 Helsinki, Finland 60.1726348 24.9510419
P.M.B, 1515, 240102, Ilorin, Nigeria 8.4795412 4.6712231
Sir. Pon, Ramanathan Rd, Jaffna, Sri Lanka 9.684855599999999 80.0220413
1450 Jayhawk Blvd, Lawrence, KS 66045, USA 38.9543439 -95.2557961
University of Kerala Senate House Campus, Palayam, Thiruvananthapuram, Kerala 695034, India 8.5032375 76.9473306
Senate House, Malet St, London WC1E 7HU, UK 51.5229378 -0.1308206
Av. de Cervantes, 2, 29016 Málaga, Spain 36.7199495 -4.4161391
Jln Profesor Diraja Ungku Aziz, 50603 Kuala Lumpur, Wilayah Persekutuan Kuala Lumpur, Malaysia 3.1209046 101.6538414
Oxford Rd, Manchester M13 9PL, UK 53.4668498 -2.2338837
500 S State St, Ann Arbor, MI 48109, USA 42.2780436 -83.7382241
Columbia, MO 65211, USA 38.9403808 -92.32773750000001
Bandaranayake Mawatha, Moratuwa 10400, Sri Lanka 6.7951276 79.90086699999999
Mahatma Gandhi Road, Mantralaya, Fort, Mumbai, Maharashtra 400032, India 18.9294242 72.8309786
1400 R St, Lincoln, NE 68588, USA 40.8201966 -96.70047629999999
1400 R St, Lincoln, NE 68588, USA 40.8201966 -96.70047629999999
300 Boston Post Rd, West Haven, CT 06516, USA 41.2906121 -72.9615489
Sydney NSW 2052, Australia -33.917347 151.2312675
Notre Dame, IN 46556, USA 41.6991133 -86.2387627
660 Parrington Oval, Norman, OK 73019, USA 35.2058936 -97.4457137
75 Laurier Ave. E, Ottawa, ON K1N 6N5, Canada 45.42310639999999 -75.68313289999999
Oxford OX1 2JD, UK 51.7548164 -1.2543668
Via VIII Febbraio, 2, 35122 Padova PD, Italy 45.406766 11.8774462
S.da Nuova, 65, 27100 Pavia PV, Italy 45.1867045 9.1570944
Philadelphia, PA 19104, USA 39.9522188 -75.1932137
Karaoli ke Dimitriou 80, Pireas 185 34, Greece 37.9415137 23.6528681
Lynnwood Rd, Hatfield, Pretoria, 0002, South Africa -25.7545492 28.2314476
37008 Salamanca, Spain 40.9613376 -5.666925099999999
Butanta, São Paulo - State of São Paulo, Brazil -23.5613991 -46.7307891
Obala Kulina bana 7/II, Sarajevo 71000, Bosnia and Herzegovina 43.8568576 18.4189278
Los Angeles, CA 90007, USA 34.0223519 -118.285117
Stellenbosch Central, Stellenbosch, South Africa -33.9328078 18.864447
Tartu, Estonia 58.37798299999999 26.7290383
Tehran, استان تهران تهران Enghelab Square، 16 Azar St, Iran 35.7022192 51.39573069999999
Austin, TX 78712, USA 30.2849185 -97.7340567
Austin, TX 78712, USA 30.2849185 -97.7340567
27 Kings College Cir, Toronto, ON M5S 1A1, Canada 43.660928 -79.3958992
Geschwister-Scholl-Platz, 72074 Tübingen, Germany 48.5294782 9.043773999999999
Drienerlolaan 5, 7522 NB Enschede, Netherlands 52.2396538 6.84979
201 Presidents Cir, Salt Lake City, UT 84112, USA 40.7649368 -111.8421021
Universitätsring 1, 1010 Wien, Austria 48.21318549999999 16.3600504
Krakowskie Przedmieście 26/28, 00-927 Warszawa, Poland 52.2403463 21.0186012
18115 Campus Way NE, Bothell, WA 98011, USA 47.7589719 -122.190707
200 University Ave W, Waterloo, ON N2L 3G1, Canada 43.4722854 -80.5448576
11000 University Pkwy, Pensacola, FL 32514, USA 30.5491387 -87.21858619999999
Madison, WI, USA 43.076592 -89.4124875
F7H8+HFV, Canal Rd, Quaid-i-Azam Campus, Lahore, Punjab, Pakistan 31.47898409999999 74.2661627
1 Jan Smuts Ave, Braamfontein, Johannesburg, 2000, South Africa -26.1928836 28.0304733
Saulėtekio al. 11, Vilnius 10223, Lithuania 54.7226447 25.3378447
Universiteto g. 3, Vilnius 01513, Lithuania 54.6825757 25.2876469
907 Floyd Ave, Richmond, VA 23284, USA 37.5483122 -77.4526805
Blacksburg, VA 24061, USA 37.22838429999999 -80.42341669999999
666, Upper Market Rd, Upper Indira Nagar, Bibwewadi, Pune, Maharashtra 411037, India 18.4636219 73.8682037
Krakowskie Przedmieście 26/28, 00-927 Warszawa, Poland 52.2403463 21.0186012
Pullman, WA, USA 46.7319225 -117.1542121
42 W Warren Ave, Detroit, MI 48202, USA 42.3591388 -83.06654619999999
3848 Harrison Blvd, Ogden, UT 84408, USA 41.1914685 -111.9439899
Herzl St 234, Rehovot, Israel 31.90375409999999 34.8080315

 4. Open 'where.html' to find out the added organization in Google map.

# **Session 5 : Capstone**